@font-face
  font-family: "OpenSans-Bold"
  src: url("../fonts/OpenSans-Bold.eot")
  src: local("OpenSans-Bold"), url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype'), url("../fonts/OpenSans-Bold.svg#itlic") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "OpenSans-Regular"
  src: url("../fonts/OpenSans-Regular.eot")
  src: local("OpenSans-Regular"), url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url("../fonts/OpenSans-Regular.svg#itlic") format("svg")
  font-weight: normal
  font-style: normal