<div class="title">
    Зв'язатися з дільничим
</div>
<form novalidate>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="І'мя" name="name">
        <span class="error-message hidden">Вкажіть тему звернення</span>
    </div>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="E-mail" name="email">
        <span class="error-message hidden">Вкажіть ваш email</span>
    </div>
    <div class="form-group">
        <textarea name="text" id="" class="form-control" placeholder="Опишіть ситуацію"></textarea>
        <span class="error-message hidden">Дайте опис проблемі</span>
    </div>
    <button class="submit-cop-request" type="submit">Відправити запит</button>
</form>