<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 col-sm-3 left-btn">
                <div class="btn-police">
                    <div class="beta-version"/>
                    <a class="logo" href="#"><img class="img-responsive" src="../../assets/images/logo.png"/></a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-5 search-form">
                <form>
                    <div class="form-group">
                        <input class="form-control" id="input-search" placeholder="Пошук" type="search"/>
                    </div>
                </form>
            </div>
            <div class="col-xs-4 col-sm-4 right-col">
                <a class="btn-how-work" href="#about/about_anchor">Як це працює</a>
                <div class="add-point-region"></div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper container-fluid">
    <div id="googleMap"></div>
</div>
<div class="ui">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 ui-item">
                <div class="corp" href="#">
                    2017 © Copyright
                </div>
            </div>
            <div class="col-xs-8">
                <div class="row">
                    <div class="social-likes" data-title="Національна поліція">
                        <div class="facebook" title="Поделиться ссылкой на Фейсбуке"></div>
                        <div class="twitter" title="Поделиться ссылкой в Твиттере"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="map-nav"></div>
<!-- Modal -->
<div class="modal fade" id="connect_us" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="title">
                    Зв'язатися з дільничим
                </div>
                <form onsubmit="alert('Функціонал не реалізовано'); return false;">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="І'мя">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="E-mail">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" class="form-control" placeholder="Опишіть ситуацію"></textarea>
                    </div>
                    <button type="submit">Відправити запит</button>
                </form>
            </div>
        </div>
    </div>
</div>
