<div class="content">
    <div class="close-message-task"></div>
    <p class="address">
        <a href="<%= address.url%>"><%= address.text %></a>

    </p>
    <div class="status-task  <% resolved === 1 ? print('resolved') : print('unresolved'); %>">
        <% if (resolved === 0){ %>
        <img src="../../assets/images/svg/completed_01.svg"/><span>Вже працюємо над цим</span>
        <% }else{ %>
        <img src="../../assets/images/svg/completed_01.svg"/><span>Вирішення проблеми знайдено</span>
        <% } %>
    </div>
    <p class="reason-title">
        <%= request_message.title%>
    </p>
    <p class="reason">
        <%= request_message.message%>
    </p>
    <% if(photo.length > 0) { %>
    <div class="images">
        <% _.each(photo, function(item){ %>
        <div class="img-wrap">
            <img src="<%= _.escape(item.thumb) %>"/>
        </div>
        <% }); %>
    </div>
    <% } %>

    <% if (response_message && response_message.message){ %>
    <div class="answer highlighted">
        <div class="title">
            Відповідь
        </div>
        <p>
            <%= response_message.message%>
        </p>
    </div>
    <% } %>
    <% if (police_man) { %>
    <div class="policer-info <% resolved === 1 ? print('highlighted') : print(''); %>">
        <div class="title-info">
            Відповідальний за дільницю
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img src="<%= police_man.photo %>"/></a>
            </div>
            <div class="media-body">
                <p>
                    <a class="link"><%= police_man.name%></a>
                </p>
                <p>
                    <%= police_man.contact.address%>
                </p>
                <p>
                    Тел.:  <%= police_man.contact.tel%>
                </p>
            </div>
        </div>
        <div class="btn-connect">
            <a class="connect_us__toggle">Звязатися з дільничим </a>
        </div>
    </div>
    <% } %>
</div>