<div class="header">
    <div class="nav-wrap">
        <div class="nav clearfix">
            <div class="col-xs-4">
                <div class="beta-version" />
                <div class="logo">
                    <a href="#"><img alt="..." class="img-responsive" src="../../assets/images/logo.png"/></a>
                </div>
            </div>
            <div class="col-xs-4">
                <a class="btn-drop" data-toggle="dropdown"></a>
                <ul class="list-inline nav-list">
                    <li>
                        <a href="#about">Про проект</a>
                    </li>
                    <li>
                        <a href="#about/about_anchor">Як це працює</a>
                    </li>
                    <li class="add_sity_pop">
                        <a data-toggle="dropdown" href="#" class="add-own-city">Додати своє місто</a>
                        <div id="add_sity_popup">
                            <div class="wrap_a_s_p">
                                <div class="info_pop">
                                    <h1 class="title">
                                        Додати своє місто
                                    </h1>
                                    <p class="more_t">
                                        «Взаємодія поліції та громади» — сервіс, який можна легко масштабувати на
                                        будь-який населений пункт України. Якщо ви готові очолити команду, що
                                        займатиметься адмініструванням та наповнення сервісу у вашому місті, містечку
                                        або селищі, залиште заявку і ми зв’яжемося з вами.
                                    </p>
                                </div>
                                <form id="form-add-city">
                                    <div class="form-group">
                                        <label for="add_sity_pop_name">І'мя</label><input class="form-control"
                                                                                          id="add_sity_pop_name"
                                                                                          placeholder="Вкажіть ваше і&#39;мя"
                                                                                          required="" type="text"
                                                                                          name="name"
                                    />
                                        <span class="error-message hidden">Заповніть це поле, щоб ми знали, як до вас
                                            звертатися (не менше 3 знаків)</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="add_sity_pop_email">Електрона адреса</label><input
                                            class="form-control" id="add_sity_pop_email"
                                            placeholder="Вкажить вашу електрону адресу" required="" type="email"
                                            name="email"/>
                                        <span class="error-message hidden">Введіть коректну email-адресу</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="add_sity_pop_commit">Додати коментар</label><textarea
                                            class="form-control" id="add_sity_pop_commit" required=""
                                            name="message"></textarea>
                                        <span class="error-message hidden">Дайте опис вашій проблемі (не менше 10
                                            знаків, та не більше 80)</span>
                                    </div>
                                    <button type="submit" id="submit-form-add-city">Відправити запит</button>
                                    <p class="required_msg">
                                        * Усі поля обов'язкові до заповнення
                                    </p>
                                </form>
                            </div>
                            <div class="wrap_a_s_p_success" style="display:none">
                                <div class="tnx_text">
                                    Дякуємо!
                                    <br>
                                    Ваш запит прийнятий.
                                </div>
                                <a href="#" class="success_ret_home">Повернутись на головну</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4">
                <a class="btn-add" data-target="#modal-ch-s" data-toggle="modal">
                    <img src="../../assets/images/svg/add_icon_active.svg"/>
                    <span>Додати запит</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="header-screen">
        <div class="screen-content">
            <div class="logo-scrn">
                <img alt="..." src="../../assets/img/front2/logo-scrn.png"/>
            </div>
            <div class="text-scrn">
                Нумо разом робити наші міста безпечнішими та затишнішими!
            </div>
            <div class="btn-scrn">
                <a data-target="#modal-ch-s" data-toggle="modal" href="#">Оберіть своє місто</a>
            </div>
        </div>
    </div>
    <div id="about_anchor" class="about clearfix">
        <div class="col-sm-6 col-md-5 hidden-xs clearfix">
            <div class="img-block">
                <img alt="..." class="img-responsive" src="../../assets/img/front2/img-block.png"/>
            </div>
        </div>
        <div class="col-sm-6 col-md-7 clearfix">
            <div class="text-about">
                <div class="title">
                    Про проект
                </div>
                <div class="text">
                    <p>«Взаємодія поліції та громади» — інтерактивний багатофункціональний онлайн-проект, що сприяє
                        налагодженню комунікації між поліцією та громадами міст і містечок України. </p>
                    <p>Проект має дві складові: сервіси «Спитай поліцейського» та «Електронний кабінет дільничного»
                       (в процесі розробки). Перший сервіс дає можливість містянам просто та швидко ставити питання
                       поліції й отримувати на них відповіді-роз’яснення. Також на карті сервісу ви можете позначати
                       небезпечні місця вашого району. </p>
                    <p>За допомоги другого сервісу городяни зможуть в один клік дізнатись, контактну інформацію
                       дільничного, відповідального за їхню територію.</p>
                    <p>Окрім представників поліції, відповіді на питання надають кваліфіковані юристи. До відповідей на
                       питання стосовно роботи комунальних підприємств залучені  представники «Контактного центру міста
                       Києва  1551».</p>
                    <p>Проект є громадською ініціативою. Наповненням та модерацією ресурсу займається громадська
                       організації «Київ мрії». Відповідь на питання надається протягом 3-5 робочих днів.</p>
                </div>
                <div class="more-link">
                    <a href="#about">Детальніше</a>
                </div>
            </div>
        </div>
    </div>
    <div class="possibility clearfix">
        <div class="inner-wrap">
            <div class="title">
                За допомогою проекту ви можете:
            </div>
            <ol class="list-unstyled">
                <li>
                    <a>Поставити питання поліції</a>
                </li>
                <li>
                    <a>Подивитись, які питання ставлять ваші сусіди</a>
                </li>
                <li>
                    <a>Отримати відповідь на своє питання та подивитись відповіді на питання інших</a>
                </li>
                <li>
                    <a>Позначити місця небезпеки вашого двору, вулиці чи району</a>
                </li>
                <li>
                    <a>Дізнатись, хто ваш дільничний, де і коли він приймає <b>(сервіс в процесі розробки)</b></a>
                </li>
                <li>
                    <a>Дізнатись про права та обов’язки дільничних <b>(сервіс в процесі розробки)</b></a>
                </li>
            </ol>
            <div class="btn-start-work">
                <a data-target="#modal-ch-s" data-toggle="modal" href="#">Почати роботу</a>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-wrap clearfix">
        <div class="col-xs-4">
            <div class="logo">
                <a href="#"><img alt="..." class="img-responsive" src="../../assets/images/logo.png"/></a>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="social-links">
                <a class="s-link clear-underline">2017 © Copyright</a>
                <a class="s-link fb" href="https://www.facebook.com/bezpechna.gromada/">Facebook</a>
                <a class="s-link mail" href="mailto:bezpechne.community@gmail.com">bezpechne.community@gmail.com</a>
            </div>
        </div>
        <div class="col-xs-3 dc__container">
            <a class="dc" href="http://thedigitalcrafters.com">РОЗРОБЛЕНО</a>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-ch-s" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a aria-label="Close" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <h4 class="modal-title">
                    Оберіть місто:
                </h4>
                <div class="choose-city">
                    <!--<a class="city" data-dismiss="modal" data-city="odesa">Одеса</a>-->
                    <a class="city" data-dismiss="modal" data-city="kyiv">Київ</a>
<!--                    <a class="city" data-dismiss="modal" data-city="kherson">Херсон</a>
                    <a class="city" data-dismiss="modal" data-city="mykolaiv">Миколаїв</a>-->
                    <a class="city" data-dismiss="modal" data-city="vinnytsia">Вінниця</a>
                    <a class="city" data-dismiss="modal" data-city="ivano-frankivsk">Івано-Франківськ</a>
                    <a class="city" data-dismiss="modal" data-city="lviv">Львів</a>
                </div>
                <div class="add-city">
                    <a aria-label="Close" class="btn-add-city" data-dismiss="modal" href="#">Додати своє місто</a>
                </div>
            </div>
        </div>
    </div>
</div>


