@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.eot");
  src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#itlic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg#itlic") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding-top: 80px;
  overflow: hidden;
  position: relative;
  font-family: "OpenSans-Regular";
}

body .header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
}

body .header .left-btn {
  position: static;
}

body .header .left-btn .btn-police .logo {
  display: block;
  float: left;
  padding-top: 10px;
  padding-right: 15px;
}

body .header .left-btn .btn-police .logo img {
  width: 60px;
  height: 60px;
}

body .header .left-btn .btn-police .logo-text {
  display: block;
  float: left;
  height: 80px;
}

body .header .left-btn .btn-police .logo-text span {
  display: block;
  line-height: 60px;
  padding-left: 8px;
  margin-top: 10px;
  border-left: 3px solid #ffe741;
  font-size: 16px;
  font-family: "OpenSans-Bold";
}

body .header .left-btn .btn-police .dropdown-menu {
  left: auto;
  right: 100%;
  -webkit-transition: right .2s ease;
  -moz-transition: right .2s ease;
  -o-transition: right .2s ease;
  transition: right .2s ease;
  display: block !important;
}

body .header .left-btn .open .dropdown-menu {
  left: 0;
  right: 0;
}

body .header .search-form {
  padding: 0;
}

body .header .right-col {
  padding: 0;
  position: static;
}

body .header .right-col .btn-how-work {
  display: block;
  float: left;
  margin-top: 30px;
  padding-left: 20px;
  font-size: 14px;
  text-decoration: underline;
}

body .header .right-col .btn-plus a {
  display: block;
  float: right;
}

body .header .right-col .btn-plus a img {
  height: 80px;
  width: 80px;
}

body .header .right-col .btn-plus:hover .hover-btn-plus {
  width: 165px;
  height: 80px;
  padding-right: 15px;
}

body .header .right-col .btn-plus .dropdown-menu {
  right: -100%;
  left: auto;
  -webkit-transition: right .2s ease;
  -moz-transition: right .2s ease;
  -o-transition: right .2s ease;
  transition: right .2s ease;
  display: block !important;
}

body .header .right-col .open .dropdown-menu {
  right: 0;
}

body .wrapper {
  height: 100%;
  padding: 0;
}

#googleMap {
  height: 100%;
}

.ui {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 15px;
  margin: 0 auto;
  max-width: 440px;
  height: 50px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.ui .container-fluid {
  padding: 0 10px;
}

.ui .container-fluid .row {
  margin: 0 -10px;
}

.ui .container-fluid .row .ui-item {
  padding: 0 5px;
  font-size: 12px;
}

.ui .container-fluid .row .ui-item .corp {
  display: block;
  margin-top: 10px;
  height: 30px;
  color: #8e8e8e;
  line-height: 30px;
}

.fb,
.tw,
.vk {
  display: block;
  margin-top: 10px;
  padding-left: 25px;
  height: 30px;
  color: #fff;
  border-radius: 2px;
  background: #cdced0;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  position: relative;
  color: #fff;
}

.fb:hover,
.tw:hover,
.vk:hover {
  color: #fff;
  text-decoration: none;
  opacity: .9;
}

.fb:before,
.tw:before,
.vk:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.fb:before {
  background-image: url("../img/front/fb.png");
}

.tw:before {
  background-image: url("../img/front/tw.png");
}

.vk:before {
  background-image: url("../img/front/vk.png");
}

.hover-btn-plus {
  float: right;
  height: 0;
  width: 0;
  padding-right: 0;
  background: #ff4e4e;
  color: #fff;
  line-height: 80px;
  font-size: 20px;
  font-family: "OpenSans-Bold";
  -webkit-transition: width .3s ease, padding .3s ease;
  -moz-transition: width .3s ease, padding .3s ease;
  -o-transition: width .3s ease, padding .3s ease;
  transition: width .3s ease, padding .3s ease;
  overflow: hidden;
}

.form-group {
  margin: 0;
}

.form-group .form-control {
  max-width: 600px;
  height: 40px;
  margin: 20px auto 0;
  background: #f2f2f2;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
}

.add_task {
  position: fixed;
  bottom: 0;
  top: 0;
  max-width: 480px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 200;
}

.add_task .header-task {
  width: 100%;
  background: #ff4e4e;
  border-bottom: 1px solid #f2f2f2;
}

.add_task .header-task img {
  width: 80px;
  height: 80px;
  display: block;
  float: left;
}

.add_task .header-task div {
  float: left;
  height: 80px;
  padding-right: 0;
  background: #ff4e4e;
  color: #fff;
  line-height: 80px;
  font-size: 20px;
  font-family: "OpenSans-Bold";
}

.add_task .header-task a {
  display: block;
  float: left !important;
  margin-top: 30px;
  padding-left: 20px;
  font-size: 14px;
  text-decoration: underline;
  color: #fff;
}

.add_task .content {
  padding: 30px 0;
}

.add_task .content form .input-address {
  padding: 0 40px 30px;
  border-bottom: 1px solid #f2f2f2;
}

.add_task .content form .input-address input {
  margin-top: 10px;
}

.add_task .content form .more {
  padding: 0 40px;
  border-bottom: 1px solid #f2f2f2;
}

.add_task .content form .more textarea {
  min-height: 200px;
}

.add_task .content form .more #choose-images {
  display: none;
}

.add_task .content form .more label {
  display: block;
  margin: 20px 0;
  padding: 25px 0;
  border: 2px dashed #f2f2f2;
  text-align: center;
  font-family: "OpenSans-Bold";
  color: #bcbcbc;
  cursor: pointer;
}

.add_task .content form .more #result-images {
  margin: 30px -5px 0;
}

.add_task .content form .more #result-images div {
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin: 10px 2px 0;
}

.add_task .content form .more #result-images div:hover .bg-hover {
  display: block;
}

.add_task .content form .more #result-images div .bg-hover {
  position: absolute;
  top: -10px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
}

.add_task .content form .more #result-images div img {
  height: auto;
  width: 100%;
}

.add_task .content form .more #result-images div .delete-image {
  position: absolute;
  top: -6px;
  right: 0;
  width: 20px;
  height: 20px;
  background: url("../img/front/delete-img.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.add_task .content form .more #result-images div .delete-image:hover {
  cursor: pointer;
}

.add_task .content form .connect-with-us {
  padding: 0 40px;
}

.add_task .content form .connect-with-us p:first-child {
  margin: 15px 0;
  font-family: "OpenSans-Bold";
  font-size: 14px;
}

.add_task .content form .connect-with-us input {
  margin-bottom: 30px;
}

.add_task .content form .connect-with-us button {
  width: 100%;
  margin: 15px 0;
  padding: 12px 0;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
  color: #fff;
  background: #106ed6;
  font-family: "OpenSans-Bold";
  font-size: 14px;
}

.add_task .content form .connect-with-us p:last-child {
  color: #bcbcbc;
  line-height: 20px;
}

.message-task {
  position: fixed;
  top: 95px;
  bottom: 0;
  left: auto;
  right: 15px;
  max-width: 420px;
  width: 100%;
  height: 75%;
  padding: 40px 40px 0;
  z-index: 15;
  background: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.message-task .content {
  position: relative;
}

.message-task .content .close-message-task {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 16px;
  height: 16px;
  background: url("..//img/front/close.png");
  background-size: contain;
  background-position: center center;
}

.message-task .content .close-message-task:hover {
  cursor: pointer;
}

.message-task .content .address {
  font-size: 18px;
  color: #106ed6;
  font-family: "OpenSans-Bold";
}

.message-task .content .status-task {
  position: relative;
  font-size: 16px;
  text-align: center;
  padding: 15px 0;
  margin: 20px 0 40px;
  background: #fdc228;
  border-radius: 4px;
  font-family: "OpenSans-Bold";
  color: #fff;
}

.message-task .content .status-task img {
  width: 18px;
  height: 17px;
  margin-right: 25px;
}

.message-task .content .reason-title {
  font-size: 16px;
  font-family: "OpenSans-Bold";
}

.message-task .content .reason,
.message-task .content .answer {
  line-height: 20px;
  padding: 10px 0;
}

.message-task .content .reason .title,
.message-task .content .answer .title {
  font-family: "OpenSans-Bold";
}

.message-task .content .images {
  margin: 0 -40px;
  padding-left: 40px;
}

.message-task .content .images .img-wrap {
  width: 80px;
  height: 80px;
  margin-right: 5px;
  overflow: hidden;
  display: inline-block;
}

.message-task .content .images .img-wrap img {
  width: 100%;
  height: auto;
}

.message-task .content .policer-info {
  padding: 10px 0 40px;
}

.message-task .content .policer-info .title-info {
  font-size: 16px;
  font-family: "OpenSans-Bold";
}

.message-task .content .policer-info .media .media-left img {
  width: 80px;
  height: auto;
}

.message-task .content .policer-info .media .media-body {
  padding-left: 5px;
}

.message-task .content .policer-info .btn-connect {
  padding-top: 30px;
}

.message-task .content .policer-info .btn-connect a {
  display: block;
  width: 220px;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  background: #106ed6;
  font-family: "OpenSans-Bold";
  text-decoration: none;
}

#complite-task .content .status-task {
  background: #00ad6e;
}

#complite-task .content .answer,
#complite-task .content .policer-info {
  background: #eef4fd;
}

#complite-task .content .answer,
#complite-task .content .policer-info {
  margin: 0 -40px;
  padding-left: 40px;
}

#complite-task .content .answer {
  padding-right: 40px;
}

@media (max-width: 1061px) {
  .hover-btn-plus {
    display: none !important;
  }
  body .header .left-btn .btn-police .logo-text {
    display: none;
  }
}

@media (max-width: 767px) {
  body .header .right-col .btn-how-work {
    display: none;
  }
  .add_task .content form .input-address,
  .add_task .content form .more,
  .add_task .content form .connect-with-us {
    padding-left: 10px;
    padding-right: 10px;
  }
  .message-task {
    right: 0;
    top: 80px;
    left: 0;
    height: 70%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
