html, body { height: 100%; margin: 0; padding: 0; }
#googleMap { height: 100%; }

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.container{
    margin-left: 0px;
    margin-right: 0px;
}
.navbar{
    background-color: white;
}
.navbar .container{
    width: 100%;
}

a.navbar-brand{
    background-color: #2d8dff;
    border-radius: 5px;
    padding: 5px 25px;
    height: 30px;
    color: #ffffff;
    margin: 10px 0px;
}

a.show-send-form{
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 15.5px;
    font-size: 20px;
    background-color: #ff0000;
    color: #ffffff;
    text-decoration: blink;
}

.navbar-header{
    padding-left: 45px;
}

.navbar-center{
    display: inline-block;
    margin-left: 30%;
}
.link-how-it-work{
    margin-left: 10%
}

.main-body{
    background-color: green;
    width: 100%;
    height: 100%;
    padding: 0px
}

.resolved {
    background-color: #eef4fd;
}