<div></div>
<form id="request_form" method="post" enctype="multipart/form-data" >
    <div class="form-group input-address">
        <label for="address">Вкажіть адресу запиту</label>
        <input class="form-control" id="address" name="address" placeholder="Вулиця, №буд."
               type="text"/>
        <span class="error-message hidden">Вкажіть приблизне місцезнаходження проблеми, яка у вас виникла</span>
    </div>
    <div class="form-group more">
        <input class="form-control" placeholder="Тема проблеми" id="title" name="title"
               type="text"/>
        <span class="error-message hidden">Вкажіть причину звернення (не менше 5 знаків)</span>
        <textarea class="form-control" placeholder="Короткий опис проблеми" id="message"
                  name="message" type="text"></textarea>
        <span class="error-message hidden">Дайте опис вашій проблемі</span>
        <div id="test"></div>
        <!--<div class="clearfix" id="result-images"></div>-->
        <div id="images-container"></div>
        <label for="photos">Прикріпити фото</label>
        <input id="photos" name="photos[]" multiple type="file"/>
        <span class="text-info text-additional-info">*загальний об'єм фото не повинен перевищувати 5мб</span>
    </div>
    <div class="form-group connect-with-us">
        <p>
            Як з вами зв'язатись
        </p>
        <input class="form-control" placeholder="Ваше ім'я" name="name" id="name"
               type="text"/>
        <span class="error-message hidden">Заповніть це поле, щоб ми знали, як до вас звертатися (не менше 3 знаків)</span>
        <input class="form-control" placeholder="E-mail" name="email" id="email"
               type="email"/>
        <span class="error-message hidden">Введіть коректну email-адресу</span>
        <button class="btn" type="submit">Відправити запит</button>
        <p>
            Натисніть, і ваша заявка буде відправлена на модерацію. Вона з'явиться на сайті
            за кілька годин
        </p>
    </div>
</form>