<div class="pull-right add-form-modal btn-plus">
    <a class="dropdown-toggle" >
                    	<span class="plus_nav_map">
		                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							width="45px" height="55px" viewBox="0 0 45 55" enable-background="new 0 0 45 55" xml:space="preserve">
							<path d="M38.5,2.437c2.209,0,4,1.791,4,4v26c0,1.271-0.604,2.39-1.528,3.122h0.045L25.082,51.495
							c-0.713,0.713-1.647,1.068-2.582,1.068s-1.869-0.355-2.582-1.068L3.982,35.559h0.046C3.104,34.826,2.5,33.707,2.5,32.437v-26
							c0-2.209,1.791-4,4-4H38.5 M38.5,0.437h-32c-3.309,0-6,2.691-6,6v26c0,1.678,0.701,3.255,1.938,4.393
							c0.041,0.049,0.084,0.098,0.13,0.144l15.936,15.937c1.067,1.068,2.487,1.654,3.996,1.654c1.51,0,2.929-0.586,3.996-1.652
							l15.935-15.938c0.046-0.046,0.089-0.093,0.129-0.142c1.238-1.138,1.94-2.716,1.94-4.395v-26C44.5,3.128,41.809,0.437,38.5,0.437
							L38.5,0.437z M30.5,21.437h-7v-7c0-0.552-0.447-1-1-1s-1,0.448-1,1v7h-7c-0.553,0-1,0.447-1,1s0.447,1,1,1h7v7c0,0.553,0.447,1,1,1
							s1-0.447,1-1v-7h7c0.553,0,1-0.447,1-1S31.053,21.437,30.5,21.437z"/>
							</svg>
						</span>
        <div class="hover-btn-plus">
            Додати запит
        </div>
    </a>
    <div class="dropdown-menu add_task">
        <div class="header-task close-drop clearfix">
                            <span class="plus_nav_map">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    width="45px" height="55px" viewBox="0 0 45 55" enable-background="new 0 0 45 55" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M30.209,30.218c-0.387,0.387-1.014,0.387-1.401,0L22.5,23.91
                                    l-6.308,6.308c-0.388,0.387-1.014,0.387-1.402,0c-0.387-0.389-0.387-1.015,0-1.402l6.308-6.308l-6.308-6.307
                                    c-0.387-0.388-0.387-1.014,0-1.402c0.388-0.387,1.014-0.387,1.402,0l6.308,6.308l6.307-6.308c0.388-0.387,1.015-0.387,1.401,0
                                    c0.388,0.388,0.387,1.015,0,1.402l-6.307,6.307l6.307,6.308C30.597,29.203,30.597,29.829,30.209,30.218z M38.5,2.437h-32
                                    c-2.209,0-4,1.791-4,4v26c0,1.271,0.604,2.39,1.528,3.122H3.982l15.936,15.937c0.713,0.713,1.647,1.068,2.582,1.068
                                    s1.869-0.355,2.582-1.068l15.935-15.937h-0.045c0.925-0.732,1.528-1.852,1.528-3.122v-26C42.5,4.228,40.709,2.437,38.5,2.437
                                    M38.5,0.437c3.309,0,6,2.691,6,6v26c0,1.679-0.702,3.257-1.94,4.395c-0.04,0.049-0.083,0.096-0.129,0.142L26.496,52.911
                                    c-1.067,1.066-2.486,1.652-3.996,1.652c-1.509,0-2.929-0.586-3.996-1.654L2.568,36.973c-0.046-0.046-0.09-0.095-0.13-0.144
                                    C1.201,35.691,0.5,34.114,0.5,32.437v-26c0-3.309,2.691-6,6-6H38.5L38.5,0.437z"/>
                                </svg>

                            </span>
            <div>
                Відміна
            </div>
            <a href="#about/about_anchor">Як це працює</a>
        </div>
        <div class="content">

        </div>
    </div>
</div>