<div class="header">
    <div class="nav-wrap">
        <div class="nav clearfix">
            <div class="col-xs-4">
                <div class="beta-version"></div>
                <div class="logo">
                    <a href="#"><img alt="..." class="img-responsive" src="../../assets/images/logo.png" /></a>
                </div>
            </div>
            <div class="col-xs-4">
                <a class="btn-drop" data-toggle="dropdown"></a>
                <ul class="list-inline nav-list">
                    <li>
                        <a href="#about">Про проект</a>
                    </li>
                    <li>
                        <a href="#about/about_anchor">Як це працює</a>
                    </li>
                    <li class="add_sity_pop">
                        <a data-toggle="dropdown" class="add-own-city" href="#">Додати своє місто</a>
                        <div id="add_sity_popup">
                            <div class="wrap_a_s_p">
                                <div class="info_pop">
                                    <h1 class="title">
                                        Додати своє місто
                                    </h1>
                                    <p class="more_t">
                                        «Взаємодія поліції та громади» — сервіс, який можна легко масштабувати на будь-який населений пункт України. Якщо ви готові очолити команду, що займатиметься адмініструванням та наповнення сервісу у вашому місті, містечку або селищі, залиште заявку і ми зв’яжемося з вами.
                                    </p>
                                </div>
                                <form id="form-add-city">
                                    <div class="form-group">
                                        <label for="add_sity_pop_name">І'мя</label>
                                        <input class="form-control" id="add_sity_pop_name" placeholder="Вкажіть ваше і&#39;мя" name="name" required="" type="text" />
                                    <span class="error-message hidden">Заповніть це поле, щоб ми знали, як до вас
                                            звертатися (не менше 3 знаків)</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="add_sity_pop_email">Електрона адреса</label><input class="form-control"
                                                                                                       id="add_sity_pop_email" name="email" placeholder="Вкажить вашу електрону адресу" required="" type="email" />
                                        <span class="error-message hidden">Введіть коректну email-адресу</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="add_sity_pop_commit">Додати коментар</label>
                                        <textarea class="form-control" id="add_sity_pop_commit" required="" name="message"></textarea>
                                    <span class="error-message hidden">Дайте опис вашій проблемі (не менше 10
                                            знаків, та не більше 80)</span>
                                    </div>
                                    <button type="submit" id="submit-form-add-city">Відправити запит</button>
                                    <p class="required_msg">
                                        * Усі поля обов'язкові до заповнення
                                    </p>
                                </form>
                            </div>
                            <div class="wrap_a_s_p_success" style="display:none">
                                <div class="tnx_text">
                                    Дякуємо!
                                    <br>
                                    Ваш запит прийнятий.
                                </div>
                                <a href="#" class="success_ret_home">Повернутись на головну</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4">
                <a class="btn-add" data-target="#modal-ch-s" data-toggle="modal">
                    <img src="../../assets/images/svg/add_icon_active.svg"/>
                    <span>Додати запит</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="about-page">
    <div class="welcome-about">
        <div class="info-text-about">
            <div class="w-title">
                Вітаємо на сайті<br />«Взаємодія поліції та громади»!
            </div>
            <div class="w-text">
                Цей ресурс  —  інтерактивна багатофункціональна карта, що сприяє побудові зручної комунікації між поліцією та громадами міст і містечок України. Обирайте ваш населений пункт та долучайтесь до комунікації!
            </div>
        </div>
    </div>
    <div id="about_anchor" class="you_can">
        <div class="title-can">
            За допомогою сайту ви можете:
        </div>
        <div class="list-y-c">
            <div class="l-item">
                <div class="list-type-col ltc1"></div>
                <div class="info-col">
                    <div class="title">
                        Поставити питання поліції <br />та отримати відповідь на нього
                    </div>
                    <div class="text">
                        Щоб поставити питання, натисніть на червоний квадрат у верхньому правому кутку. Заповніть поля та надішліть питання адміністратору. Посилання на відповідь прийде вам на мейл.
                    </div>
                </div>
            </div>
            <div class="l-item">
                <div class="list-type-col ltc1"></div>
                <div class="info-col">
                    <div class="title">
                        Позначити небезпечні місця вашого району
                    </div>
                    <div class="text">
                        Інформація буде передана дільничному інспектору поліції, відповідальному за цю територію.
                    </div>
                </div>
            </div>
            <div class="l-item">
                <div class="list-type-col ltc2"></div>
                <div class="info-col">
                    <div class="title">
                        Переглянути питання та відповіді сусідів
                    </div>
                    <div class="text">
                        Натискайте на зелені та червоні піктограми на карті і переглядайте питання ваших сусідів та
                        відповіді на їхні запити. Червоні піктограмі — відповідь очікується, зелені — відповідь вже є.
                    </div>
                </div>
            </div>
            <div class="l-item">
                <div class="list-type-col ltc3"></div>
                <div class="info-col">
                    <div class="title">
                        Дізнатись, хто ваш дільничний інспектор
                    </div>
                    <div class="text">
                        Просто введіть адресу, що цікавить, у пошуковий рядок, натисніть Enter і дивіться картку вашого
                        дільничного. Тут же дізнавайтесь, з якими питаннями до нього можна звернутись.
                        <p><b>Сервіс в процесі розробки.</b></p>
                    </div>
                </div>
            </div>
            <div class="l-item">
                <div class="list-type-col ltc4"></div>
                <div class="info-col">
                    <div class="title">
                        Прочитати інформацію про мікрорайон, що цікавить
                    </div>
                    <div class="text">
                        У профілі кожного дільничного ви знайдете також коротку інформацію про ваш мікрорайон та
                        посилання на гід по ньому.
                        <p><b>Сервіс в процесі розробки.</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="beta_content">
        <div class="wrap">
            <div class="beta_title">
                BETA
            </div>
            <div class="btext-wrap">
                <div class="text_beta">
                    На разі сайт працює у тестовому режимі <br />і ми продовжуємо його наповнення. Якщо ви маєте <br />цікаві ідеї щодо роботи сайту або готові допомогти <br />із його наповненням, пишіть нам!
                </div>
                <div class="text_b_beta">
                    Увага! Сервіс орієнтований на вирішення неоперативних питань, які потребують відповідей-роз'яснень. <br />Сайт не є аналогом 102
                </div>
            </div>
        </div>
    </div>
    <div class="project_developers">
        <div class="wrap">
            <div class="title">
                Хто робить проект:
            </div>
            <a class="col-4 dream-kyiv" href="http://dreamkyiv.com/"></a>
            <a class="col-4 expert-center" href="https://ecpl.com.ua/"></a>
            <a class="col-4 national-police" href="http://patrol.police.gov.ua"></a>
            <a class="col-4 revival" href="http://www.irf.ua/"></a>
            <a class="col-4 center-people-rights" href="https://humanrights.org.ua/"></a>
            <a class="col-4 network-of-rights-development" href="http://www.ldn.org.ua"></a>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer-wrap clearfix">
        <div class="col-xs-4">
            <div class="logo">
                <a href="#"><img alt="..." class="img-responsive" src="../../assets/images/logo.png"/></a>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="social-links">
                <a class="s-link clear-underline">2017 © Copyright</a>
                <a class="s-link fb" href="https://www.facebook.com/bezpechna.gromada/">Facebook</a>
                <a class="s-link mail" href="mailto:bezpechne.community@gmail.com">bezpechne.community@gmail.com</a>
            </div>
        </div>
        <div class="col-xs-3 dc__container">
            <a class="dc" href="http://thedigitalcrafters.com">РОЗРОБЛЕНО</a>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-ch-s" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a aria-label="Close" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <h4 class="modal-title">
                    Оберіть місто:
                </h4>
                <div class="choose-city">
                    <a class="city" data-dismiss="modal" data-city="kyiv">Київ</a>
                    <a class="city" data-dismiss="modal" data-city="vinnytsia">Вінниця</a>
                    <a class="city" data-dismiss="modal" data-city="ivano-frankivsk">Івано-Франківськ</a>
                    <a class="city" data-dismiss="modal" data-city="lviv">Львів</a>
                </div>
                <div class="add-city">
                    <a aria-label="Close" class="btn-add-city" data-dismiss="modal" href="#">Додати своє місто</a>
                </div>
            </div>
        </div>
    </div>
</div>