<div class="content">
    <div class="close-message-task"></div>
    <div class="policer-info">
        <div class="title-info">
            Ваш дільничий
        </div>
        <div class="photo">
            <a href="#">
                <img src="<%= photo %>" alt="">
            </a>
        </div>
        <div class="name">
            <%= name %>
        </div>
        <div class="rank">
            <%= rank %>
        </div>
        <div class="btn-connect">
            <a class="connect_us__toggle">Звязатися з дільничим </a>
        </div>
    </div>
    <div class="department-info">
        <p>
                <span class="title">
                    Відділення
                </span> <br>
                <span>
                    <%= contact.address %>
                </span> <br>
                <span>
                    тел.: <%= contact.tel %>
                </span>
        </p>
    </div>
    <div class="timetable">
            <span class="title">
                    Графік прийому
            </span> <br>
            <span>
                <%= work_time.days %>
            </span> <br>
            <span>
                <%= work_time.time %>
            </span>
    </div>
    <div class="other-links">
        <a href="#">Права та обов'язки дільничого</a>
        <a href="#">Порядок звернення</a>
        <a href="#">Інформація про дільницю</a>
        <a href="#">Інше</a>
    </div>
</div>