<div id="googleMap"></div>
<div class="messages"></div>
<div class="location_indicator">
    <div class='pin'></div>
    <div class='pulse'></div>
    <span class="location_text">Йде завантаження даних, зачекайте... </span>
</div>