@media (max-width: 1061px)
	.hover-btn-plus
		display: none !important
	body
		.header
			.left-btn
				.btn-police
					.logo-text
						display: none
@media (max-width: 767px)
	body
		.header
			.right-col
				.btn-how-work
					display: none
	.add_task
		.content
			form
				.input-address,
				.more,
				.connect-with-us
					padding-left: 10px
					padding-right: 10px
	.message-task
		right: 0
		top: 80px
		left: 0
		height: 70%
		margin: 0 auto
		padding-left: 10px
		padding-right: 10px
		.content
			.close-message-task
				right: 10px
	#your_policer
		right: 0
		top: 80px
		left: 0
		height: 70%
		margin: 0 auto
		padding-left: 10px
		padding-right: 10px
		.content
			padding: 0
			margin: 0
	#connect_us
		.modal-dialog
			margin: 30px auto
	