html,
body
	width: 100%
	height: 100%
body
	padding-top: 80px
	overflow: hidden
	position: relative
	font-family: "OpenSans-Regular"
	.header
		position: fixed
		top: 0
		width: 100%
		height: 80px
		z-index: 10
		.left-btn
			position: static
			.btn-police
				.logo
					display: block
					float: left
					padding-top: 10px
					padding-right: 15px
					img
						width: 60px
						height: 60px
				.logo-text
					display: block
					float: left
					height: 80px
					
					span
						display: block
						line-height: 60px
						padding-left: 8px
						margin-top: 10px
						border-left: 3px solid #ffe741
						font-size: 16px
						font-family: "OpenSans-Bold"
				.dropdown-menu
					left: auto
					right: 100%
					-webkit-transition: right .2s ease
					-moz-transition: right .2s ease
					-o-transition: right .2s ease
					transition: right .2s ease
					display: block !important
			.open
				.dropdown-menu
					left: 0
					right: 0
		.search-form
			padding: 0
		.right-col
			padding: 0
			position: static
			.btn-how-work
				display: block
				float: left
				margin-top: 30px
				padding-left: 20px
				font-size: 14px
				text-decoration: underline
			.btn-plus
				a
					display: block
					float: right
					img
						height: 80px
						width: 80px
				&:hover .hover-btn-plus
					width: 165px
					height: 80px
					padding-right: 15px
				.dropdown-menu
					right: -100%
					left: auto
					-webkit-transition: right .2s ease
					-moz-transition: right .2s ease
					-o-transition: right .2s ease
					transition: right .2s ease
					display: block !important
			.open
				.dropdown-menu
					right: 0
					

	.wrapper
		height: 100%
		padding: 0
#googleMap
	height: 100%
.ui
	position: fixed
	left: 0
	right: 0
	bottom: 15px
	margin: 0 auto
	max-width: 440px
	height: 50px
	border-radius: 2px
	background: rgba(255, 255, 255, 0.8)
	z-index: 10
	.container-fluid
		padding: 0 10px
		.row
			margin: 0 -10px
			.ui-item
				padding: 0 5px
				font-size: 12px
				.corp
					display: block
					margin-top: 10px
					height: 30px
					color: #8e8e8e
					line-height: 30px
.fb,
.tw,
.vk
	display: block
	margin-top: 10px
	padding-left: 25px
	height: 30px
	color: #fff
	border-radius: 2px
	background: #cdced0
	text-decoration: none
	text-align: center
	line-height: 30px
	position: relative
	color: #fff
	&:hover
		color: #fff
		text-decoration: none
		opacity: .9
	&:before
		content: ""
		position: absolute
		left: 5px
		top: 5px
		width: 20px
		height: 20px
		background-position: center center
		background-repeat: no-repeat
		background-size: contain
.fb:before
	background-image: url('../img/front/fb.png')
.tw:before
	background-image: url('../img/front/tw.png')
.vk:before
	background-image: url('../img/front/vk.png')
.hover-btn-plus
	float: right
	height: 0
	width: 0
	padding-right: 0
	background: #ff4e4e
	color: #fff
	line-height: 80px
	font-size: 20px
	font-family: "OpenSans-Bold"
	-webkit-transition: width .3s ease, padding .3s ease
	-moz-transition: width .3s ease, padding .3s ease
	-o-transition: width .3s ease, padding .3s ease
	transition: width .3s ease, padding .3s ease
	overflow: hidden
.form-group
	margin: 0
	.form-control
		max-width: 600px
		height: 40px
		margin: 20px auto 0
		background: #f2f2f2
		border: 0
		border-radius: 2px
		box-shadow: none
.add_task
	position: fixed
	bottom: 0
	top: 0
	max-width: 480px
	width: 100%
	height: 100%
	padding: 0
	margin: 0
	border: 0
	border-radius: 0
	overflow-x: hidden
	overflow-y: scroll
	z-index: 200
	.header-task
		width: 100%
		background: #ff4e4e
		border-bottom: 1px solid #f2f2f2
		img
			width: 80px
			height: 80px
			display: block
			float: left
		div
			float: left
			height: 80px
			padding-right: 0
			background: #ff4e4e
			color: #fff
			line-height: 80px
			font-size: 20px
			font-family: "OpenSans-Bold"
		a
			display: block
			float: left !important
			margin-top: 30px
			padding-left: 20px
			font-size: 14px
			text-decoration: underline
			color: #fff
	.content
		padding: 30px 0
		form
			.input-address
				padding: 0 40px 30px
				border-bottom: 1px solid #f2f2f2
				input
					margin-top: 10px
			.more
				padding: 0 40px
				border-bottom: 1px solid #f2f2f2
				textarea
					min-height: 200px
				#choose-images
					display: none
				label
					display: block
					margin: 20px 0
					padding: 25px 0
					border: 2px dashed #f2f2f2
					text-align: center
					font-family: "OpenSans-Bold"
					color: #bcbcbc
					cursor: pointer
				#result-images
					margin: 30px -5px 0
					div
						position: relative
						float: left
						width: 80px
						height: 80px
						overflow: hidden
						margin: 10px 2px 0
						&:hover .bg-hover
							display: block
						.bg-hover
							position: absolute
							top: -10px
							right: 0
							bottom: 0
							left: 0
							background-color: rgba(0,0,0, .1)
							display: none
						img
							height: auto
							width: 100%
						.delete-image
							position: absolute
							top: -6px
							right: 0
							width: 20px
							height: 20px
							background: url('../img/front/delete-img.png')
							background-repeat: no-repeat
							background-position: center center
							background-size: contain
							&:hover
								cursor: pointer
			.connect-with-us
				padding: 0 40px
				p:first-child
					margin: 15px 0
					font-family: "OpenSans-Bold"
					font-size: 14px
				input
					margin-bottom: 30px
				button
					width: 100%
					margin: 15px 0
					padding: 12px 0
					border: 0
					border-radius: 2px
					box-shadow: none
					color: #fff
					background: #106ed6
					font-family: "OpenSans-Bold"
					font-size: 14px
				p:last-child
					color: #bcbcbc
					line-height: 20px
.message-task
	position: fixed
	top: 95px
	bottom: 0
	left: auto
	right: 15px
	max-width: 420px
	width: 100%
	height: 75%
	padding: 40px 40px 0
	z-index: 15
	background: #fff
	overflow-x: hidden
	overflow-y: scroll
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.2)
	border-radius: 3px
	.content
		position: relative
		.close-message-task
			position: absolute
			top: -25px
			right: -25px
			width: 16px
			height: 16px
			background: url('..//img/front/close.png')
			background-size: contain
			background-position: center center
			&:hover
				cursor: pointer
		.address
			font-size: 18px
			color: #106ed6
			font-family: "OpenSans-Bold"
		.status-task
			position: relative
			font-size: 16px
			text-align: center
			padding: 15px 0
			margin: 20px 0 40px
			background: #fdc228
			border-radius: 4px
			font-family: "OpenSans-Bold"
			color: #fff
			img
				width: 18px
				height: 17px
				margin-right: 25px
			// &:before
			// 	content: ""
			// 	position: absolute
			// 	top: 15px
			// 	right: 15px
			// 	width: 18px
			// 	height: 17px
			// 	background: url('..img/front/check.png') no-repeat
			// 	background-size: 18px 17px
			// 	background-position: center center
		.reason-title
			font-size: 16px
			font-family: "OpenSans-Bold"
		.reason,
		.answer
			line-height: 20px
			padding: 10px 0
			.title
				font-family: "OpenSans-Bold"
		.images
			margin: 0 -40px
			padding-left: 40px
			.img-wrap
				width: 80px
				height: 80px
				margin-right: 5px
				overflow: hidden
				display: inline-block
				img
					width: 100%
					height: auto

		.policer-info
			padding: 10px 0 40px
			.title-info
				font-size: 16px
				font-family: "OpenSans-Bold"
			.media
				.media-left
					img
						width: 80px
						height: auto
				.media-body
					padding-left: 5px
			.btn-connect
				padding-top: 30px
				a
					display: block
					width: 220px
					padding: 10px 0
					text-align: center
					color: #fff
					background: #106ed6
					font-family: "OpenSans-Bold"
					text-decoration: none
#complite-task
	.content
		.status-task
			background: #00ad6e
		.answer,
		.policer-info
			background: #eef4fd
		.answer,
		.policer-info
			margin: 0 -40px
			padding-left: 40px
		.answer
			padding-right: 40px
#your_policer
	left: 15px
	right: auto
	.content
		margin: 0 -40px
		padding-left: 40px
		padding-right: 40px
		.close-message-task
			right: 15px
		.policer-info
			border-bottom: 1px solid #f3f2f7
			.title-info
				padding-bottom: 30px
				font-size: 24px
				font-family: "OpenSans-Bold"
			.photo
				width: 120px
				height: 120px
				overflow: hidden
				img
					width: 100%
					height: auto
			.name
				margin-top: 20px
				font-size: 16px
				font-family: "OpenSans-Bold"
			.rank
				padding-top: 5px
				font-size: 16px
		.department-info,
		.timetable
			padding: 40px 0
			border-bottom: 1px solid #f3f2f7
			span
				font-size: 16px
				line-height: 30px
			.title
				font-size: 16px
				font-family: "OpenSans-Bold"
		.other-links
			padding: 35px 0 60px
			a
				display: block
				text-decoration: underline
				color: #5a8fed
				&:hover
					text-decoration: none

#connect_us
	.modal-dialog
		max-width: 400px
		width: 100%
		.modal-content
			.modal-header
				border: 0
				padding: 10px 15px 0
			.modal-body
				padding: 0 30px 45px
				.title
					font-size: 16px
					font-family: "OpenSans-Bold"
				form
					textarea
						min-height: 140px
						font-size: 16px
					button
						display: block
						height: 40px
						width: 100%
						margin: 20px 0
						border: 0
						background: #106ed6
						text-align: center
						color: #fff
						font-family: "OpenSans-Bold"