@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.eot");
    src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#itlic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSansRegular.eot");
    src: local("OpenSans-Regular"), url("../fonts/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg#itlic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot");
    src: local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold/ProximaNova-Bold.svg#itlic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNova-Regular";
    src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot");
    src: local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#itlic") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "social";
    src: url("../fonts/social/social.eot");
    src: url("../fonts/social/social.eot?#iefix") format("embedded-opentype"), url("../fonts/social/social.woff") format("woff"), url("../fonts/social/social.ttf") format("truetype"), url("../fonts/social/social.svg") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "mail";
    src: url("../fonts/social/fontello.eot");
    src: url("../fonts/social/fontello.eot?#iefix") format("embedded-opentype"), url("../fonts/social/fontello.woff") format("woff"), url("../fonts/social/fontello.ttf") format("truetype"), url("../fonts/social/fontello.svg") format("svg");
    font-style: normal;
    font-weight: normal;
}

body {
    width: 100%;
    height: 100%;
    font-family: "OpenSans-Bold";
    color: #000;
}

a {
    color: #106ed6;
}

a:hover {
    color: #106ed6;
}

.col-xs-4, .col-xs-3, .col-xs-5 {
    padding: 0;
}

/*MAIN PAGE*/
.wrapper,
.about-page,
.wrap_cntnt_404 {
    padding-top: 80px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    /*border-bottom: 1px solid #e5e5e5;*/
    z-index: 2;
    background: #fff;
}

.header .nav-wrap .nav {
    max-width: 1920px;
    height: 80px;
    margin: 0 auto;
}

.header .nav-wrap .nav .logo a {
    text-decoration: none;
}

.header .nav-wrap .nav .logo img {
    display: inline-block;
    height: 80px;
    width: auto;
}

.header .nav-wrap .nav .nav-list {
    margin: 0;
    padding-top: 30px;
    text-align: center;
}

.header .nav-wrap .nav .nav-list li {
    padding: 0 7px;
}

.header .nav-wrap .nav .nav-list li a {
    position: relative;
    text-decoration: none;
}

.header .nav-wrap .nav .nav-list li a:hover:after {
    width: 100%;
}

.header .nav-wrap .nav .nav-list li a:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    display: block;
    width: 0;
    height: 3px;
    margin: 0 auto;
    background: #cce4ff;
    overflow: hidden;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.header .nav-wrap .nav .btn-add {
    height: 80px;
    display: block;
    float: right;
    width: 300px;
    line-height: 80px;
    background-color: #ff4e4e;
    color: #fff;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.header .nav-wrap .nav .btn-add:hover {
    background-color: #ff5858;
}

.header .nav-wrap .nav .btn-add img {
    width: auto;
    height: 55px;
    padding-right: 20px;
}

.header-screen {
    position: relative;
    max-width: 1920px;
    min-height: 600px;
    margin: 0 auto;
    background-image: url("../images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header-screen .screen-content {
    position: absolute;
    top: 85px;
    bottom: 85px;
    left: 0;
    right: 0;
    max-width: 740px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.header-screen .screen-content .logo-scrn {
    height: 134px;
}

.header-screen .screen-content .logo-scrn img {
    height: 100%;
    width: auto;
}

.header-screen .screen-content .text-scrn {
    margin: 50px 0;
    font-family: "OpenSans-Regular";
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1.5px;
}

.btn-start-work{
    text-align: center;
}

.header-screen .screen-content .btn-scrn, .btn-start-work {
    width: 270px;
    margin: 0 auto;
}

.header-screen .screen-content .btn-scrn a, .btn-start-work a {
    display: block;
    font-size: 16px;
    color: #fff;
    background-color: #106ed6;
    padding: 19px 0;
    text-decoration: none;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    font-family: "OpenSans-Bold";
    outline: none;
}

.header-screen .screen-content .btn-scrn a:hover, .btn-start-work a:hover {
    background-color: #2381e9;
}

.about {
    max-width: 1200px;
    margin: 0 auto;
    padding: 150px 0 140px;
}

.about .img-block {
    height: 334px;
    width: 334px;
    float: right;
    padding: 40px;
    border-radius: 50%;
    background-color: #ffcc33;
    text-align: center;
}

.about .img-block img {
    margin: 0 auto;
}

.about .text-about {
    padding: 0 100px 0 10px;
}

.about .text-about .title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.about .text-about .text {
    font-family: "ProximaNova-Regular";
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 25px;
}

.about .text-about .more-link a {
    font-size: 16px;
    text-decoration: none;
}

.about .text-about .more-link a:hover {
    color: #2381e9;
}

.possibility {
    background-color: #f3f8fd;
}

.possibility .inner-wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 12.5% 130px;
}

.possibility .inner-wrap .title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.possibility .inner-wrap ol li {
    position: relative;
    line-height: 40px;
    margin-bottom: 15px;
}

.possibility .inner-wrap ol li:before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: #ffcc33;
    line-height: 40px;
    text-align: center;
    color: #106ed6;
}

.possibility .inner-wrap ol li a {
    font-size: 18px;
    font-family: "ProximaNova-Regular";
    line-height: 40px;
    text-decoration: none;
}

.possibility .inner-wrap ol li:nth-child(1):before {
    content: "1";
}

.possibility .inner-wrap ol li:nth-child(2):before {
    content: "2";
}

.possibility .inner-wrap ol li:nth-child(3):before {
    content: "3";
}

.possibility .inner-wrap ol li:nth-child(4):before {
    content: "4";
}

.possibility .inner-wrap ol li:nth-child(5):before {
    content: "5";
}

.possibility .inner-wrap ol li:nth-child(6):before {
    content: "6";
}

.footer .footer-wrap {
    max-width: 1920px;
    height: 80px;
    margin: 0 auto;
}

.footer .footer-wrap .logo img {
    display: inline-block;
    height: 80px;
    width: auto;
}

.footer .footer-wrap .nav-list {
    margin: 0;
    padding-top: 15px;
    text-align: center;
}

.footer .footer-wrap .nav-list li {
    padding: 0 7px;
}

.footer .footer-wrap .nav-list li a {
    position: relative;
    text-decoration: none;
}

.footer .footer-wrap .nav-list li a:hover:after {
    width: 100%;
}

.footer .footer-wrap .nav-list li a:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    display: block;
    width: 0;
    height: 3px;
    margin: 0 auto;
    background: #cce4ff;
    overflow: hidden;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.footer .footer-wrap .copyright {
    text-align: center;
    font-size: 12px;
    font-family: "OpenSans-Regular";
    color: #8e8e8e;
}

.footer .footer-wrap .social-links {
    text-align: center;
    padding: 25px 0 8px;
}

.footer .footer-wrap .social-links .s-link {
    font-family: ProximaNova-Regular;
    display: inline-block;
    width: 50px;
    height: 18px;
    margin-top: 0;
    background: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    color: #106ed6;
    width: auto;
    font-size: 16px;
}

.footer .footer-wrap .social-links .s-link:hover:before {
    color: #2381e9;
}

.footer .footer-wrap .social-links .s-link:before {
    color: #106ed6;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a.s-link.fb, a.s-link.mail {
    text-decoration: underline;
}

.vk {
    display: none !important;
}

.dc__container {
    text-align: right;
    height: 100%;
}

.dc__container .dc{
    width: 210px;
    padding-right: 120px;
    text-decoration: none;
    font-family: ProximaNova-Regular;
    display: inline-block;
    height: 80px;
    background-position: 90px 50%;
    background-repeat: no-repeat;
    background-size: 60%;
    line-height: 80px;
    font-size: 12px;
}

#modal-ch-s {
    max-height: 680px;
    height: 100%;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

#modal-ch-s .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
}

#modal-ch-s .modal-dialog .modal-content {
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    overflow-y: scroll;
    overflow-x: auto;
}

#modal-ch-s .modal-dialog .modal-content .modal-header {
    padding: 0;
    border: 0;
}

#modal-ch-s .modal-dialog .modal-content .modal-header .close {
    position: absolute;
    top: 80px;
    right: 80px;
    display: block;
    width: 35px;
    height: 35px;
    margin: 0;
    float: none;
    background: url("../images/svg/closer_active_01.svg") no-repeat;
    opacity: 1;
    z-index: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#modal-ch-s .modal-dialog .modal-content .modal-header .close:hover {
    background: url("../images/svg/closer_hover_01.svg") no-repeat;
}

#modal-ch-s .modal-dialog .modal-content .modal-body {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 70px;
}

#modal-ch-s .modal-dialog .modal-content .modal-body .modal-title {
    text-align: center;
    font-family: "ProximaNova-Bold";
    font-size: 30px;
}

a.city{
    cursor:  pointer;
}

#modal-ch-s .modal-dialog .modal-content .modal-body .choose-city {
    padding-top: 70px;
}

#modal-ch-s .modal-dialog .modal-content .modal-body .choose-city .city {
    display: block;
    text-align: center;
    line-height: 80px;
    font-family: "OpenSans-Regular";
    font-size: 30px;
    text-decoration: none;
}

#modal-ch-s .modal-dialog .modal-content .modal-body .choose-city .city:hover {
    color: #2381e9;
}

#modal-ch-s .modal-dialog .modal-content .modal-body .add-city {
    padding-top: 50px;
}

#modal-ch-s .modal-dialog .modal-content .modal-body .add-city .btn-add-city {
    display: block;
    width: 200px;
    border-radius: 4px;
    margin: 0 auto;
    background: #106ed6;
    text-align: center;
    color: #fff;
    text-decoration: none;
    line-height: 40px;
    font-size: 12px;
    text-transform: uppercase;
}

#modal-ch-s .modal-dialog .modal-content .modal-body .add-city .btn-add-city:hover {
    background: #2381e9;
}

.l-text {
    display: inline-block;
    height: 30px;
    width: 180px;
    margin-left: 15px;
    padding-left: 15px;
    vertical-align: middle;
    border-left: 3px solid #ffe741;
    overflow: hidden;
    font-family: "ProximaNova-Bold";
    font-size: 16px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #222e63;
}

.wrap_cntnt {
    min-width: 1200px;
    margin: 0 auto;
}

.nav .open > a {
    color: #106ed6;
    background: transparent;
}

.nav .open > a:hover {
    color: #2381e9;
    background: transparent;
}

.nav .open > a:focus {
    color: #2381e9;
    background: transparent;
}

.nav-page .nav-list a:hover {
    padding-bottom: 5px;
    text-decoration: none !important;
    border-bottom: 3px solid #cce4ff;
}

.nav-page .btn-add {
    background: #ff4e4e !important;
}

.welcome-about {
    min-height: 400px;
    background: #5a8fed;
}

.welcome-about .info-text-about {
    max-width: 650px;
    margin: 0 auto;
    padding-top: 80px;
    color: #fff;
    overflow: hidden;
}

.welcome-about .info-text-about .w-title {
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
}

.welcome-about .info-text-about .w-text {
    max-width: 540px;
    padding-top: 20px;
    font-family: "OpenSans-Regular";
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.5px;
}

.you_can {
    background: #fff;
    overflow: hidden;
}

.you_can .title-can {
    max-width: 650px;
    margin: 0 auto;
    padding: 100px 0 70px;
    text-transform: uppercase;
    font-family: "OpenSans-Bold";
    font-size: 30px;
    line-height: 40px;
}

.list-y-c {
    padding-bottom: 130px;
}

.list-y-c .l-item {
    max-width: 970px;
    margin: 0 auto 40px;
}

.list-y-c .list-type-col,
.list-y-c .info-col {
    display: table-cell;
    vertical-align: top;
}

.list-y-c .info-col {
    max-width: 440px;
}

.list-y-c .info-col .title {
    font-family: "OpenSans-Bold";
    font-size: 20px;
}

.list-y-c .info-col .text {
    padding-top: 15px;
    font-family: "OpenSans-Regular";
    font-size: 18px;
    line-height: 30px;
}

.list-y-c .list-type-col {
    width: 160px;
    height: 100px;
    background-position: center top;
    background-repeat: no-repeat;
}

.ltc1 {
    background-image: url("../images/about/1.png");
}

.ltc2 {
    background-image: url("../images/about/2.png");
}

.ltc3 {
    background-image: url("../images/about/3.png");
}

.ltc4 {
    background-image: url("../images/about/4.png");
}

.ltc4 .info-col {
    max-width: 650px;
}

.beta_content {
    padding: 65px 0;
    background: #5a8fed;
    color: #fff;
}

.beta_content .wrap {
    max-width: 970px;
    margin: 0 auto;
}

.beta_content .wrap .beta_title,
.beta_content .wrap .btext-wrap {
    display: table-cell;
    vertical-align: top;
}

.beta_content .wrap .beta_title {
    width: 160px;
    text-align: center;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
}

.beta_content .wrap .btext-wrap .text_beta {
    font-family: "OpenSans-Regular";
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
}

.beta_content .wrap .btext-wrap .text_b_beta {
    max-width: 580px;
    padding-top: 40px;
    font-family: "OpenSans-Bold";
    font-size: 18px;
    line-height: 30px;
}

.project_developers {
    padding-bottom: 80px;
    background: #f5faff;
}

.project_developers .wrap {
    text-align: center;
    max-width: 1550px;
    margin: 0 auto;
}

.project_developers .title {
    padding-top: 95px;
    text-align: center;
    font-family: "OpenSans-Bold";
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;
}

.project_developers .col-4 {
    display: inline-block;
    width: 33%;
    height: 240px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 240px;
}

.dream-kyiv {
    background-image: url("../images/about/developers/1.png");
}

.expert-center {
    background-image: url("../images/about/developers/2.png");
}

.national-police {
    background-image: url("../images/about/developers/3.png");
}

.center-people-rights {
    background-image: url("../images/about/developers/4.png");
}

.network-of-rights-development {
    background-image: url("../images/about/developers/6.png");
}

.national-police {
    background-image: url("../images/about/developers/3.png");
}

.dc {
    background-image: url("../images/about/developers/dc.png");
}

.revival {
    background-image: url("../images/about/developers/5.png");
}

.kpd_body_bg {
    position: relative;
    min-height: 100vh;
    min-width: 1100px;
    background: #e5f1ff;
}

.kpd_wrap_w {
    position: relative;
    min-height: 100%;
}

.kpd_wrapper {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 60px;
    background: #fff;
    min-height: 100px;
    zoom: 1;
    overflow: hidden;
}

.kpd_footer .wrap,
.kpd_header .wrap {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.kpd_footer {
    height: 60px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.kpd_footer .corp,
.kpd_footer .kpd_f_text {
    padding: 25px 40px;
    height: 100%;
    opacity: 0.5;
    font-family: "OpenSans-Bold";
    font-size: 11px;
    line-height: auto;
}

.kpd_footer .corp {
    float: left;
}

.kpd_footer .kpd_f_text {
    float: right;
}

.kpd_header {
    height: 80px;
    overflow: hidden;
    background: #106ed6;
}

.kpd_header .logo {
    float: left;
    max-width: 280px;
    height: 100%;
    padding-top: 10px;
}

.kpd_header .logo a {
    display: block;
    text-decoration: none;
}

.kpd_header .logo img {
    display: inline-block;
    height: 60px;
    width: auto;
    padding-left: 10px;
}

.kpd_header .logo .l-text {
    color: #fff;
    line-height: 16px;
}

.kpd_header .search_kpd_h {
    float: left;
    max-width: 240px;
    height: 100%;
    padding-top: 25px;
}

.kpd_header .search_kpd_h form {
    padding-left: 58px;
}

.kpd_header .search_kpd_h form label {
    height: 18px;
    width: 18px;
    margin-bottom: 0;
    margin-right: 8px;
    vertical-align: middle;
    background-image: url("../images/kpd/search.png");
    background-position: center;
    background-repeat: no-repeat;
}

.kpd_header .search_kpd_h .form-control {
    width: 155px;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    box-shadow: none;
    color: #fff;
    font-family: "OpenSans-Regular";
    line-height: 20px;
    font-size: 14px;
}

.kpd_header .kpd_user_hnav {
    float: right;
    max-width: 160px;
    height: 100%;
}

.kpd_header .kpd_user_hnav .messages,
.kpd_header .kpd_user_hnav .user_img {
    width: 80px;
    height: 100%;
    float: left;
    position: relative;
}

.kpd_header .kpd_user_hnav .messages {
    background-image: url("../images/kpd/message.png");
    background-position: 18px center;
    background-repeat: no-repeat;
}

.kpd_header .kpd_user_hnav .messages a {
    display: block;
    width: 100%;
    height: 100%;
}

.kpd_header .kpd_user_hnav .messages span {
    position: absolute;
    width: 25px;
    top: 15px;
    right: 10px;
    color: #fff;
    text-align: left;
}

.kpd_header .kpd_user_hnav .user_img a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.kpd_header .kpd_user_hnav .user_img img {
    width: 100%;
    height: auto;
}

.kpd_wrapper .sidebar,
.kpd_wrapper .kpd_content {
    display: table-cell;
    vertical-align: top;
}

.kpd_wrapper .sidebar {
    width: 21.875%;
    padding: 30px 50px;
    background: #e5f1ff;
}

.kpd_wrapper .sidebar .kpd_side_nav li {
    position: relative;
    margin-bottom: 30px;
}

.kpd_wrapper .sidebar .kpd_side_nav li a {
    font-size: 14px;
    line-height: 20px;
    color: #9aa6b4;
    text-decoration: none;
    font-family: "OpenSans-Bold";
}

.kpd_wrapper .sidebar .kpd_side_nav li a:hover {
    color: #106ed6;
}

.kpd_wrapper .sidebar .kpd_side_nav .active:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -30px;
    width: 20px;
    height: 2px;
    background: #106ed6;
}

.kpd_wrapper .sidebar .kpd_side_nav .active a {
    color: #106ed6;
}

.kpd_wrapper .kpd_content {
    width: 78.125%;
    padding: 40px 40px 0;
    overflow: hidden;
    position: relative;
}

.kpd_wrapper .kpd_content .user_info {
    overflow: hidden;
    zoom: 1;
    padding-bottom: 40px;
}

.kpd_wrapper .kpd_content .user_info .photo,
.kpd_wrapper .kpd_content .user_info .more-info {
    display: table-cell;
    vertical-align: middle;
}

.kpd_wrapper .kpd_content .user_info .photo {
    width: 120px;
    height: 120px;
    overflow: hidden;
    vertical-align: top;
}

.kpd_wrapper .kpd_content .user_info .photo img {
    width: 100%;
    height: auto;
}

.kpd_wrapper .kpd_content .user_info .more-info {
    padding: 0 20px;
}

.kpd_wrapper .kpd_content .user_info .more-info .name {
    font-size: 18px;
    line-height: 20px;
    font-family: "OpenSans-Bold";
}

.kpd_wrapper .kpd_content .user_info .more-info .name .settings {
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 18px;
    margin-bottom: 10px;
    margin-left: 12px;
    background-image: url("../images/kpd/sett.png");
    background-repeat: no-repeat;
    background-position: center;
}

.kpd_wrapper .kpd_content .user_info .more-info .name .settings:hover {
    opacity: 0.9;
}

.kpd_wrapper .kpd_content .user_info .more-info .name .state {
    font-size: 14px;
    line-height: auto;
    font-family: "OpenSans-Regular";
}

.kpd_wrapper .new_questions {
    margin-left: -40px;
    margin-right: -40px;
    padding: 40px 40px 20px;
    border-top: 1px solid #e5f1ff;
    border-bottom: 1px solid #e5f1ff;
}

.kpd_wrapper .new_questions .title_block {
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    font-family: "OpenSans-Bold";
}

.kpd_wrapper .questions_grid .bq_item {
    margin-bottom: 10px;
    padding: 25px;
    border: 1px solid #e5f1ff;
}

.kpd_wrapper .questions_grid .bq_item .row_name,
.kpd_wrapper .questions_grid .bq_item .hover_details {
    display: none;
}

.kpd_wrapper .questions_grid .bq_item:hover {
    background: #e5f1ff;
}

.kpd_wrapper .questions_grid .bq_item:hover .row_name {
    display: block;
}

.kpd_wrapper .questions_grid .bq_item:hover .hover_details {
    display: inline;
}

.kpd_wrapper .questions_grid .bq_item:hover .row_bnts {
    opacity: 1;
}

.kpd_wrapper .questions_grid .bq_item .row_1 {
    padding-bottom: 15px;
}

.kpd_wrapper .questions_grid .bq_item .row_1 a {
    text-decoration: none;
    color: #106ed6;
    font-size: 14px;
    line-height: 24px;
    font-family: "OpenSans-Bold";
}

.kpd_wrapper .questions_grid .bq_item .row_1 a:hover {
    color: #007aff;
}

.kpd_wrapper .questions_grid .bq_item .row_2 .title {
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
    font-family: "OpenSans-Bold";
}

.kpd_wrapper .questions_grid .bq_item .row_2 .text {
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    font-family: "OpenSans-Regular";
}

.kpd_wrapper .questions_grid .bq_item .row_name {
    padding-bottom: 15px;
    font-size: 12px;
    line-height: 24px;
    font-family: "OpenSans-Bold";
}

.kpd_wrapper .questions_grid .bq_item .row_bnts {
    opacity: 0.6;
}

.kpd_wrapper .questions_grid .bq_item .row_bnts a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 20px;
    border-radius: 4px;
    background: #106ed6;
    color: #fff;
    text-decoration: none;
    font-family: "OpenSans-Bold";
    font-size: 12px;
}

.kpd_wrapper .questions_grid .bq_item .row_bnts a:hover {
    background: #007aff;
}

.kpd_wrapper .questions_grid .all_q {
    height: 38px;
    margin-bottom: 10px;
    border: 1px solid #e5f1ff;
    text-align: center;
}

.kpd_wrapper .questions_grid .all_q a {
    display: block;
    width: 100%;
    height: 100%;
    font-family: "OpenSans-Bold";
    font-size: 12px;
    line-height: 38px;
    text-decoration: none;
}

.kpd_wrapper .questions_grid .all_q a:hover {
    color: #007aff;
}

.detail_problem {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    z-index: 1;
    background: #fff;
}

.detail_problem .wrap {
    position: relative;
}

.detail_problem .wrap .row_nav .q_block {
    float: left;
    width: 311px;
    height: 38px;
    border: 1px solid #e5f1ff;
}

.detail_problem .wrap .row_nav .q_block .prev_q,
.detail_problem .wrap .row_nav .q_block .next_q {
    display: inline-block;
    width: 49%;
    height: 100%;
    padding-top: 8px;
    text-align: center;
}

.detail_problem .wrap .row_nav .q_block .prev_q a,
.detail_problem .wrap .row_nav .q_block .next_q a {
    display: block;
    height: 100%;
    color: #106ed6;
    text-decoration: none;
    font-size: 12px;
    font-family: "OpenSans-Bold";
    line-height: 20px;
}

.detail_problem .wrap .row_nav .q_block .prev_q a:hover,
.detail_problem .wrap .row_nav .q_block .next_q a:hover {
    color: #007aff;
}

.detail_problem .wrap .row_nav .q_block .prev_q {
    border-right: 1px solid #e5f1ff;
}

.detail_problem .wrap .row_nav .rightq_block {
    float: right;
    width: 158px;
    height: 38px;
    border: 1px solid #e5f1ff;
}

.detail_problem .wrap .row_nav .rightq_block .all_q {
    float: left;
    width: 114px;
    height: 100%;
    padding-top: 8px;
    text-align: center;
}

.detail_problem .wrap .row_nav .rightq_block .all_q a {
    display: block;
    height: 100%;
    color: #106ed6;
    text-decoration: none;
    font-size: 12px;
    font-family: "OpenSans-Bold";
    line-height: 20px;
}

.detail_problem .wrap .row_nav .rightq_block .all_q a:hover {
    color: #007aff;
}

.detail_problem .wrap .row_nav .rightq_block .close_d_p_block {
    float: left;
    width: 42px;
    height: 100%;
    border-left: 1px solid #e5f1ff;
    background-image: url("../images/kpd/cl.png");
    background-position: center;
    background-repeat: no-repeat;
}

.detail_problem .wrap .row_nav .rightq_block .close_d_p_block:hover {
    cursor: pointer;
}

.detail_problem .wrap .row_d_p_content {
    padding-top: 40px;
}

.detail_problem .wrap .row_d_p_content .address {
    padding-bottom: 25px;
    font-size: 24px;
    font-family: "OpenSans-Bold";
    color: #106ed6;
}

.detail_problem .wrap .row_d_p_content .title {
    padding-bottom: 10px;
    font-size: 18px;
    font-family: "OpenSans-Bold";
    color: #000;
}

.detail_problem .wrap .row_d_p_content .text {
    padding-bottom: 10px;
    font-family: "OpenSans-Regular";
    line-height: 20px;
    font-size: 14px;
}

.detail_problem .wrap .row_d_p_content .name {
    opacity: 0.5;
    font-family: "OpenSans-Regular";
    line-height: 24px;
    font-size: 14px;
}

.detail_problem .wrap .row_d_p_images {
    margin-top: 30px;
    padding: 20px 0;
    border-top: 1px solid #e5f1ff;
    border-bottom: 1px solid #e5f1ff;
}

.detail_problem .wrap .row_d_p_images .img_block {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 5px;
    overflow: hidden;
}

.detail_problem .wrap .row_d_p_images .img_block img {
    width: 100%;
    height: auto;
}

.detail_problem .wrap .row_commit_cop .title {
    margin: 25px 0;
    font-family: "OpenSans-Bold";
    font-family: 18px;
    line-height: 24px;
    color: #106ed6;
}

.detail_problem .wrap .row_commit_cop form textarea {
    display: block;
    max-width: 620px;
    width: 100%;
    min-height: 160px;
    padding: 18px;
    border-color: #cce4ff;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    line-height: 20px;
    color: #000;
}

.detail_problem .wrap .row_commit_cop form button {
    margin-top: 20px;
    padding: 10px 15px;
    border: 0;
    border-radius: 3px;
    font-family: "OpenSans-Bold";
    font-family: 14px;
    line-height: 20px;
    color: #fff;
    background: #106ed6;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.detail_problem .wrap .row_commit_cop form button:hover {
    background: #2381e9;
}

.detail_problem .wrap .row_d_p_btns {
    position: absolute;
    top: 78px;
    right: 0;
}

.detail_problem .wrap .row_d_p_btns a {
    position: relative;
    display: block;
    float: left;
    height: 40px;
    margin-right: 20px;
    padding: 10px 20px 10px 40px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-family: "OpenSans-Bold";
    font-size: 14px;
    line-height: 20px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.detail_problem .wrap .row_d_p_btns a:hover {
    opacity: 0.7;
}

.detail_problem .wrap .row_d_p_btns a:first-child {
    background-color: #00ad6e;
}

.detail_problem .wrap .row_d_p_btns a:nth-child(2) {
    background-color: #ff4e4e;
}

.detail_problem .wrap .row_d_p_btns a:first-child:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 40px;
    background-image: url("../images/kpd/ok.png");
    background-repeat: no-repeat;
    background-position: center;
}

.detail_problem .wrap .row_d_p_btns a:nth-child(2):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 40px;
    background-image: url("../images/kpd/del-c.png");
    background-repeat: no-repeat;
    background-position: center;
}

.form-control {
    border: none;
    background: transparent;
}

.form-control:focus {
    box-shadow: none;
}

*:focus {
    outline: none;
}

.form-control::-webkit-input-placeholder {
    color: #fff;
}

.form-control::-moz-placeholder {
    color: #fff;
}

.form-control:-ms-input-placeholder {
    color: #fff;
}

.form-control:-moz-placeholder {
    color: #fff;
}

.profile_nav .active:before {
    content: none !important;
}

.kpd_profile_content {
    padding-bottom: 80px !important;
}

.kpd_profile_content .user_info .photo {
    width: 240px !important;
    height: 240px !important;
}

.kpd_profile_content .user_info .more-info {
    vertical-align: top !important;
}

.kpd_profile_content .user_info .more-info .name {
    padding-top: 5px;
}

.kpd_profile_content .user_info .more-info .state {
    padding-top: 5px;
}

.kpd_profile_content .user_info .more-info .adress {
    padding-top: 5px;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    line-height: 30px;
}

.kpd_profile_content .user_info .more-info .grafic {
    padding-top: 20px;
}

.kpd_profile_content .user_info .more-info .time_work {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    line-height: 30px;
}

.kpd_profile_content .calendar {
    position: relative;
}

.kpd_profile_content .calendar .add_post {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: auto;
    height: 40px;
    padding: 0 20px;
    border: none;
    border-radius: 4px;
    background: #106ed6;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    font-family: "OpenSans-Bold";
    text-decoration: none;
}

.kpd_profile_content .calendar ul {
    margin: 0;
}

.kpd_profile_content .calendar ul li {
    width: auto;
    height: 40px;
    padding: 0 20px;
    border: none;
    border-radius: 4px;
}

.kpd_profile_content .calendar ul li a {
    line-height: 40px;
    color: #106ed6;
    font-size: 14px;
    font-family: "OpenSans-Bold";
    text-decoration: none;
}

.kpd_profile_content .calendar ul .active {
    background: #106ed6;
}

.kpd_profile_content .calendar ul .active a {
    color: #fff;
}

#reports {
    padding-top: 40px;
}

.reporting_grid {
    border: 1px solid #cce4ff;
}

.reporting_grid .itm {
    display: block;
    zoom: 1;
    overflow: hidden;
    border-top: 1px solid #cce4ff;
}

.reporting_grid .itm:first-child {
    border-top: none;
}

.reporting_grid .itm:hover {
    cursor: pointer;
}

.reporting_grid .itm:hover .left-col,
.reporting_grid .itm:hover .right-col {
    background: #e5f1ff;
}

.reporting_grid .itm .left-col,
.reporting_grid .itm .right-col {
    display: table-cell;
    vertical-align: top;
}

.reporting_grid .itm .left-col {
    padding: 20px 15px;
    width: 13.5%;
    font-family: "OpenSans-Bold";
    font-size: 12px;
    line-height: 20px;
    border-right: 1px solid #cce4ff;
}

.reporting_grid .itm .right-col {
    padding: 15px;
    width: 86.5%;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    line-height: 24px;
}

.report_pagination {
    position: relative;
    height: 40px;
    overflow: hidden;
    border: 1px solid #cce4ff;
    border-top: none;
}

.report_pagination .prev,
.report_pagination .next {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
}

.report_pagination .prev:after,
.report_pagination .next:after {
    content: "";
    position: absolute;
    top: 14px;
    left: 13px;
    display: block;
    width: 12px;
    height: 2px;
    background: #106ed6;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.report_pagination .prev:before,
.report_pagination .next:before {
    content: "";
    position: absolute;
    top: 21px;
    left: 13px;
    display: block;
    width: 12px;
    height: 2px;
    background: #106ed6;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.report_pagination .prev {
    float: left;
    border-right: 1px solid #cce4ff;
}

.report_pagination .next {
    float: right;
    border-left: 1px solid #cce4ff;
}

.report_pagination .next:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: rotate(45deg);
}

.report_pagination .next:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.report_pagination .disable:after, .report_pagination .disable:before {
    background: #cce4ff;
}

.report_pagination .pagination {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    max-width: 165px;
    margin: 0 auto !important;
}

.report_pagination .pagination li {
    height: 40px;
    padding: 0 !important;
}

.report_pagination .pagination li a {
    border: none;
    padding: 0 3px;
    font-size: 12px;
    font-family: "OpenSans-Bold";
    color: #000 !important;
}

.report_pagination .pagination li a:hover {
    background: none;
}

.report_pagination .pagination .active a {
    background: transparent;
    color: #007aff !important;
}

#add_report_post .header {
    position: static;
}

#add_report_post .modal-dialog {
    width: 920px;
}

#add_report_post .modal-dialog .modal-content {
    border-radius: 0;
}

#add_report_post .ctnt_modal .header {
    padding-bottom: 13px;
}

#add_report_post .ctnt_modal .header .title {
    font-family: "OpenSans-Bold";
    font-size: 14px;
    line-height: 20px;
    color: #000;
}

#add_report_post .ctnt_modal .header .date {
    font-family: "OpenSans-Bold";
    font-size: 14px;
    line-height: 20px;
    color: #007aff;
}

#add_report_post .ctnt_modal .header .date .dashed {
    display: inline;
    border-bottom: 1px dashed #007aff;
}

#add_report_post .ctnt_modal .header .cls .btn_close_modal {
    width: 20px;
    height: 20px;
    float: right;
    background-image: url("../images/kpd/cl.png");
    background-repeat: no-repeat;
    background-position: center;
}

#add_report_post .ctnt_modal .header .cls .btn_close_modal:hover {
    cursor: pointer;
    opacity: 0.8;
}

#add_report_post .ctnt_modal textarea {
    min-height: 140px;
    border-radius: 0;
    background: #f3f3f3;
}

#add_report_post .ctnt_modal .del_post {
    position: relative;
    display: block;
    margin-top: 5px;
    padding-left: 23px;
    font-family: "OpenSans-Bold";
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    color: #106ed6;
}

#add_report_post .ctnt_modal .del_post:before {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-image: url("../images/kpd/del-c-h.png");
    background-repeat: no-repeat;
    background-position: left center;
}

#add_report_post .ctnt_modal .del_post:hover {
    color: #007aff;
}

#add_report_post .ctnt_modal button {
    border: none;
    border-radius: 4px;
    padding: 5px 20px;
    background: #106ed6;
    color: #fff;
    font-family: "OpenSans-Bold";
    font-size: 12px;
    line-height: 20px;
}

#add_report_post .ctnt_modal button:hover {
    background: #007aff;
}

.wrap_cntnt_404 {
    min-height: 100%;
    position: relative;
    margin: -100px auto 0;
    padding-top: 200px;
    padding-bottom: 90px;
}

.wrap_cntnt_404 .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
}

.wrap_cntnt_404 .err_content {
    min-height: 400px;
    background: #eef4fd;
}

.wrap_cntnt_404 .err_content .wrap_err {
    text-align: center;
}

.wrap_cntnt_404 .err_content .wrap_err h1 {
    margin: 0;
    padding-top: 100px;
    font-family: "OpenSansLight";
    font-size: 120px;
}

.wrap_cntnt_404 .err_content .wrap_err .msg {
    font-family: "OpenSans-Regular";
    font-size: 18px;
}

.wrap_cntnt_404 .err_content .wrap_err .to_home {
    font-family: "OpenSans-Regular";
    font-size: 18px;
}

.open #add_sity_popup {
    top: 80px;
    width: 100%;
    z-index: 10;
}

#add_sity_popup {
    position: fixed;
    top: -4000px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: top 0.2s ease, z-index 0.4s ease;
    -moz-transition: top 0.2s ease, z-index 0.4s ease;
    -o-transition: top 0.2s ease, z-index 0.4s ease;
    transition: top 0.2s ease, z-index 0.4s ease;
}

#add_sity_popup .wrap_a_s_p {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 20px 70px;
    background: #fff;
}

#add_sity_popup .info_pop .title {
    margin: 0;
    padding-top: 70px;
    font-family: "OpenSans-Bold";
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
}

#add_sity_popup .info_pop .more_t {
    padding-top: 30px;
    padding-right: 8%;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    line-height: 26px;
    text-align: left;
}

#add_sity_popup form {
    padding-top: 30px;
    text-align: left;
}

#add_sity_popup form .form-group {
    padding-top: 10px;
    text-align: left;
}

#add_sity_popup form .form-group label {
    font-family: "OpenSans-Bold";
    font-size: 14px;
}

#add_sity_popup form .form-group textarea {
    min-height: 200px;
}

#add_sity_popup form .form-group .form-control {
    height: 42px;
    box-shadow: none;
    border-radius: 0;
    background: #eef4fd;
}

#add_sity_popup form .form-group .form-control::-webkit-input-placeholder {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    color: #94989e;
}

#add_sity_popup form .form-group .form-control::-moz-placeholder {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    color: #94989e;
}

#add_sity_popup form .form-group .form-control:-ms-input-placeholder {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    color: #94989e;
}

#add_sity_popup form .form-group .form-control:-moz-placeholder {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    color: #94989e;
}

#add_sity_popup form button {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    box-shadow: none;
    border: 0;
    background: #106ed6;
    color: #fff;
    font-family: "OpenSans-Bold";
    font-size: 14px;
}

#add_sity_popup form button:hover {
    background: #2381e9;
}

#add_sity_popup .required_msg {
    padding-top: 5px;
    font-size: 14px;
    font-family: "OpenSans-Regular";
}

html {
    width: 100%;
    height: 100%;
}

.body_map, .request-cop {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    overflow: hidden;
    position: relative;
    font-family: "OpenSans-Regular";
}

.request-cop{
    position: fixed;
}

.body_map .form-control, .request-cop .form-control {
    color: #000;
}

.body_map .form-control::-webkit-input-placeholder,
.request-cop .form-control::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.5) !important;
    font-family: "OpenSans-Regular" !important;
    font-size: 14px !important;
}

.body_map .form-control::-moz-placeholder,
.request-cop .form-control::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5) !important;
    font-family: "OpenSans-Regular" !important;
    font-size: 14px !important;
}

.body_map .form-control:-ms-input-placeholder,
.request-cop .form-control:-ms-input-placeholder{
    color: rgba(0, 0, 0, 0.5) !important;
    font-family: "OpenSans-Regular" !important;
    font-size: 14px !important;
}

.body_map .form-control:-moz-placeholder,
.request-cop .form-control:-moz-placeholder {
    color: rgba(0, 0, 0, 0.5) !important;
    font-family: "OpenSans-Regular" !important;
    font-size: 14px !important;
}

.body_map .col-xs-4 {
    padding-left: 15px;
    padding-right: 15px;
}

.body_map form .error-message {
    top: 0px;
    font-family: "OpenSans-Bold";
    font-size: 11px;
}

.body_map form .connect-with-us .error-message {
    top: -18px;
}

.body_map .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
}

.body_map .header .left-btn {
    position: static;
}

.body_map .header .left-btn .btn-police .logo {
    display: block;
    float: left;
    margin-left:-15px;
    margin-top: -1px;
}

.body_map .header .left-btn .btn-police .logo img {
    width: auto;
    height: 80px;
}

.body_map .header .left-btn .btn-police .logo-text {
    display: block;
    float: left;
    height: 80px;
}

.body_map .header .left-btn .btn-police .logo-text:hover {
    text-decoration: none;
}

.body_map .header .left-btn .btn-police .logo-text:hover span {
    opacity: 0.8;
}

.body_map .header .left-btn .btn-police .logo-text span {
    display: block;
    line-height: 60px;
    padding-left: 8px;
    margin-top: 10px;
    border-left: 3px solid #ffe741;
    font-size: 16px;
    font-family: "OpenSans-Bold";
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.body_map .header .left-btn .btn-police .dropdown-menu {
    left: auto;
    right: 100%;
    -webkit-transition: right .2s ease;
    -moz-transition: right .2s ease;
    -o-transition: right .2s ease;
    transition: right .2s ease;
    display: block !important;
}

.body_map .header .left-btn .open .dropdown-menu {
    left: 0;
    right: 0;
}

.body_map .header .search-form {
    padding: 0;
}

.body_map .header .right-col {
    padding: 0;
    position: static;
}

.body_map .header .right-col .btn-how-work {
    display: block;
    float: left;
    margin-top: 30px;
    padding-left: 20px;
    font-size: 14px;
    text-decoration: underline;
}

.body_map .header .right-col .btn-plus a {
    display: block;
    float: right;
}

.body_map .header .right-col .btn-plus a:hover .plus_nav_map,
.body_map .header .right-col .btn-plus a:hover .hover-btn-plus {
    background-color: #ff5858;
}

.body_map .header .right-col .btn-plus a img {
    height: 80px;
    width: 80px;
}

.body_map .header .right-col .btn-plus:hover .hover-btn-plus {
    width: 165px;
    height: 80px;
    padding-right: 15px;
}

.body_map .header .right-col .btn-plus .dropdown-menu {
    right: -100%;
    left: auto;
    -webkit-transition: right .2s linear;
    -moz-transition: right .2s linear;
    -o-transition: right .2s linear;
    transition: right .2s linear;
    display: block !important;
}

.body_map .header .right-col .open .dropdown-menu {
    right: 0;
}

.body_map .wrapper {
    height: 100%;
    padding: 0;
}

#googleMap {
    height: 100%;
    transition: opacity .4s ease;
}

.ui {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: 0 auto;
    max-width: 360px;
    height: 50px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 10;
    transition: margin .2s ease;
}

.ui .container-fluid {
    padding: 0 10px;
}

.ui .container-fluid .row {
    margin: 0 -10px;
}

.ui .container-fluid .row .ui-item {
    padding: 0 5px;
    font-size: 12px;
}

.ui .container-fluid .row .ui-item .corp {
    display: block;
    margin-top: 10px;
    padding-left: 10px;
    height: 30px;
    color: #8e8e8e;
    line-height: 30px;
}

.ui .container-fluid .row .vk {
    display: block !important;
}

.fb, .tw, .vk, .mail {
    display: block;
    margin-top: 10px;
    padding-left: 45px;
    height: 30px;
    color: #fff;
    border-radius: 2px;
    background: #cdced0;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    position: relative;
    color: #fff;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.fb a, .tw a, .vk a, .mail a {
    text-decoration: underline;
}

.fb:hover, .tw:hover, .vk:hover, .mail:hover {
    color: #fff;
    text-decoration: none;
    background: #5a8fed;
}

.fb:before, .tw:before, .vk:before, .mail:before {
    /* content: ""; */
    position: absolute;
    left: 20px;
    width: 20px;
    height: 20px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: social;
    font-size: 18px;
    color: #fff;
    vertical-align: top;
}

.fb:before {
    content: "\e900";
}

.tw:before {
    content: "\e905";
}

.vk:before {
    content: "\e906";
}

.mail:before {
    font-family: "mail";
    content: "\e910";
}

a.clear-underline {
    text-decoration-line: none;
}

a.clear-underline:hover {
    text-decoration-line: none;
}

.hover-btn-plus {
    float: right;
    width: 0;
    height: 0;
    padding-right: 0;
    background: #ff4e4e;
    color: #fff;
    line-height: 80px;
    font-size: 20px;
    font-family: "OpenSans-Bold";
    -webkit-transition: width .2s linear;
    -moz-transition: width .2s linear;
    -o-transition: width .2s linear;
    transition: width .2s linear;
    overflow: hidden;
}

.hover-btn-plus:hover {
    cursor: pointer;
}

.form-group {
    margin: 0;
}

.form-group .form-control {
    max-width: 600px;
    height: 40px;
    margin: 20px auto 0;
    background: #f2f2f2;
    border: 0;
    border-radius: 2px;
    box-shadow: none;
}

.add_task {
    position: fixed;
    bottom: 0;
    top: 0;
    max-width: 480px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 200;
}

.add_task .header-task {
    width: 100%;
    background: #ff4e4e;
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.add_task .header-task:hover {
    background-color: #ff5858;
}

.add_task .header-task:hover .plus_nav_map,
.add_task .header-task:hover div {
    background-color: #ff5858;
}

.add_task .header-task img {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
}

.add_task .header-task div {
    float: left;
    height: 80px;
    padding-right: 0;
    background: #ff4e4e;
    color: #fff;
    line-height: 80px;
    font-size: 20px;
    font-family: "OpenSans-Bold";
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.add_task .header-task a {
    display: block;
    margin-top: 30px;
    padding-right: 30px;
    font-size: 14px;
    text-decoration: underline;
    color: #fff;
}

.add_task .content {
    padding: 30px 0;
}

.add_task .content form .input-address {
    padding: 0 40px 30px;
    border-bottom: 1px solid #f2f2f2;
}

.add_task .content form .input-address label {
    font-family: "OpenSans-Bold";
    font-size: 16px;
}

.add_task .content form .input-address input {
    margin-top: 10px;
}

.add_task .content form .more {
    padding: 0 40px;
    border-bottom: 1px solid #f2f2f2;
}

.add_task .content form .more textarea {
    min-height: 200px;
}

.add_task .content form .more #choose-images {
    display: none;
}

.add_task .content form .more label {
    display: block;
    margin: 20px 0;
    padding: 25px 0;
    border: 2px dashed #f2f2f2;
    text-align: center;
    font-family: "OpenSans-Bold";
    color: #bcbcbc;
    cursor: pointer;
}

.add_task .content form .more #result-images {
    margin: 30px -5px 0;
}

.add_task .content form .more #result-images div {
    position: relative;
    float: left;
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin: 10px 2px 0;
}

.add_task .content form .more #result-images div:hover .bg-hover {
    display: block;
}

.add_task .content form .more #result-images div .bg-hover {
    position: absolute;
    top: -10px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
}

.add_task .content form .more #result-images div img {
    height: auto;
    width: 100%;
}

.add_task .content form .more #result-images div .delete-image {
    position: absolute;
    top: -6px;
    right: 0;
    width: 20px;
    height: 20px;
    background: url("../images/svg/delete_active_01.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px 18px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.add_task .content form .more #result-images div .delete-image:hover {
    cursor: pointer;
    background-position: center center;
    background-size: 18px 18px;
    background: url("../images/svg/delete_hover_01.svg");
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.add_task .content form .connect-with-us {
    padding: 0 40px;
}

.add_task .content form .connect-with-us p:first-child {
    margin: 15px 0;
    font-family: "OpenSans-Bold";
    font-size: 14px;
}

.add_task .content form .connect-with-us input {
    margin-bottom: 18px;
}

.add_task .content form .connect-with-us button {
    width: 100%;
    margin: 15px 0;
    padding: 12px 0;
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    color: #fff;
    background: #106ed6;
    font-family: "OpenSans-Bold";
    font-size: 14px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.add_task .content form .connect-with-us button:hover {
    background: #2381e9;
}

.add_task .content form .connect-with-us p:last-child {
    color: #bcbcbc;
    line-height: 20px;
}

.message-task {
    position: fixed;
    top: 95px;
    bottom: 0;
    left: auto;
    right: 15px;
    max-width: 420px;
    width: 100%;
    height: 75%;
    padding: 40px 40px 0;
    z-index: 9;
    background: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.message-task .content {
    position: relative;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.message-task .content .close-message-task {
    position: absolute;
    top: -25px;
    right: -25px;
    width: 16px;
    height: 16px;
    background: url("../images/svg/closer_active_01.svg");
    background-size: contain;
    background-position: center center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.message-task .content .close-message-task:hover {
    cursor: pointer;
    background: url("../images/svg/closer_hover_01.svg");
    background-size: contain;
    background-position: center center;
    -webkit-transition: all 0.2s linear;
}

.message-task .content .address {
    font-size: 18px;
    color: #106ed6;
    font-family: "OpenSans-Bold";
}

.message-task .content .status-task {
    position: relative;
    font-size: 16px;
    text-align: center;
    padding: 15px 0;
    margin: 20px 0 40px;
    background: #fdc228;
    border-radius: 4px;
    font-family: "OpenSans-Bold";
    color: #fff;
}

.message-task .content .status-task img {
    width: 18px;
    height: 17px;
    margin-right: 8px;
}

.message-task .content .reason-title {
    font-size: 16px;
    font-family: "OpenSans-Bold";
}

.message-task .content .reason, .message-task .content .answer {
    line-height: 20px;
    padding: 10px 0;
}

.message-task .content .reason .title, .message-task .content .answer .title {
    font-family: "OpenSans-Bold";
}

.message-task .content .images {
    margin: 0 -40px;
    padding-left: 40px;
}

.message-task .content .images .img-wrap {
    width: 80px;
    height: 80px;
    margin-right: 5px;
    overflow: hidden;
    display: inline-block;
}

.message-task .content .images .img-wrap img {
    width: 100%;
    height: auto;
}

.message-task .content .policer-info {
    padding: 10px 0 40px;
}

.message-task .content .policer-info .title-info {
    font-size: 16px;
    font-family: "OpenSans-Bold";
}

.message-task .content .policer-info .media .media-left img {
    width: 80px;
    height: auto;
}

.message-task .content .policer-info .media .media-body {
    padding-left: 5px;
}

.message-task .content .policer-info .btn-connect {
    padding-top: 30px;
}

.message-task .content .policer-info .btn-connect a {
    display: block;
    width: 220px;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background: #106ed6;
    font-family: "OpenSans-Bold";
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.message-task .content .policer-info .btn-connect a:hover {
    background: #2381e9;
}

.message-task .content .highlighted.answer, .message-task .content .highlighted.policer-info {
    margin: 0 -40px;
    padding-left: 40px;
    background: #eef4fd;
}

#complite-task .content .status-task {
    background: #00ad6e;
}

#complite-task .content .answer, #complite-task .content .policer-info {
    background: #eef4fd;
}

#complite-task .content .answer, #complite-task .content .policer-info {
    margin: 0 -40px;
    padding-left: 40px;
}

#complite-task .content .answer {
    padding-right: 40px;
}

.message-task .content .status-task.resolved {
    background-color: #00ad6e;
}

form .form-control.error-input {
    border: solid #e30035 1px;
}

form .error-message {
    position: relative;
    top: -30px;
    color: #e30035;
}

.your_policer {
    left: 15px;
    right: auto;
}

.your_policer .content {
    margin: 0 -40px;
    padding-left: 40px;
    padding-right: 40px;
}

.your_policer .content .close-message-task {
    right: 15px;
}

.your_policer .content .policer-info {
    border-bottom: 1px solid #f3f2f7;
}

.your_policer .content .policer-info .title-info {
    padding-bottom: 30px;
    font-size: 24px;
    font-family: "OpenSans-Bold";
}

.your_policer .content .policer-info .photo {
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.your_policer .content .policer-info .photo img {
    width: 100%;
    height: auto;
}

.your_policer .content .policer-info .name {
    margin-top: 20px;
    font-size: 16px;
    font-family: "OpenSans-Bold";
}

.your_policer .content .policer-info .rank {
    padding-top: 5px;
    font-size: 16px;
}

.your_policer .content .department-info, .your_policer .content .timetable {
    padding: 40px 0;
    border-bottom: 1px solid #f3f2f7;
}

.your_policer .content .department-info span, .your_policer .content .timetable span {
    font-size: 16px;
    line-height: 30px;
}

.your_policer .content .department-info .title, .your_policer .content .timetable .title {
    font-size: 16px;
    font-family: "OpenSans-Bold";
}

.your_policer .content .other-links {
    padding: 35px 0 60px;
}

.your_policer .content .other-links a {
    display: block;
    text-decoration: underline;
    color: #5a8fed;
}

.your_policer .content .other-links a:hover {
    text-decoration: none;
}

#connect_us .modal-dialog {
    max-width: 400px;
    width: 100%;
}

#connect_us .modal-dialog .modal-content .modal-header {
    border: 0;
    padding: 10px 15px 0;
}

#connect_us .modal-dialog .modal-content .modal-body {
    padding: 0 30px 45px;
}

#connect_us .modal-dialog .modal-content .modal-body .title {
    font-size: 16px;
    font-family: "OpenSans-Bold";
}

#connect_us .modal-dialog .modal-content .modal-body form textarea {
    min-height: 140px;
    font-size: 16px;
}

#connect_us .modal-dialog .modal-content .modal-body form button {
    display: block;
    height: 40px;
    width: 100%;
    margin: 20px 0;
    border: 0;
    background: #106ed6;
    text-align: center;
    color: #fff;
    font-family: "OpenSans-Bold";
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#connect_us .modal-dialog .modal-content .modal-body form button:hover {
    background: #2381e9;
}

.success-message-block {
    position: fixed;
    top: 95px;
    right: 15px;
    display: block;
    width: 330px;
    min-height: 130px;
    padding: 5px;
    border-radius: 3px;
    background: rgba(0, 34, 205, 0.05);
    z-index: 10;
}

.success-message-block.popover-error .smbtext:before{
    background: url("../images/svg/cancel-music.svg") no-repeat;
    background-position: center center;
    background-size: 50px;
}

.success-message-block .wrap {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 80px;
    background: #fff;
}

.smbtext {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 35px 0px 35px 85px;
    font-size: 12px;
    line-height: 18px;
    color: #000;
}

.smbtext:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 65px;
    height: 100%;
    display: block;
    background: url("../images/svg/completed_02.svg") no-repeat;
    background-size: 50px;
    background-position: center center;
}

.plus_nav_map {
    display: inline-block;
    float: left;
    width: 80px;
    height: 80px;
    padding-top: 12px;
    background: #ff4e4e;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.plus_nav_map svg {
    display: block;
    margin: auto;
    fill: #fff;
}

.plus_nav_map:hover {
    cursor: pointer;
}

.wrap_a_s_p_success {
    max-width: 610px;
    margin: 150px auto 0;
    padding: 72px;
    background-color: #eef4fd;
}

.wrap_a_s_p_success .tnx_text {
    color: #000;
    font-size: 30px;
    line-height: 40px;
    font-family: "OpenSans-Bold";
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.wrap_a_s_p_success .success_ret_home {
    display: block;
    margin-top: 25px;
    color: #106ed6;
    font-size: 14px;
    font-family: "OpenSans-Bold";
    text-align: left;
    letter-spacing: 1px;
}

@media (max-width: 1061px) {
    .hover-btn-plus {
        display: none !important;
    }
    body .header .left-btn .btn-police .logo-text {
        display: none;
    }
}

@media (max-width: 767px) {
    body .header .right-col .btn-how-work {
        display: none;
    }
    .add_task .content form .input-address, .add_task .content form .more, .add_task .content form .connect-with-us {
        padding-left: 10px;
        padding-right: 10px;
    }
    .message-task {
        right: 0;
        top: 80px;
        left: 0;
        height: 70%;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .message-task .content .close-message-task {
        right: 10px;
    }
    .your_policer {
        right: 0;
        top: 80px;
        left: 0;
        height: 70%;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .your_policer .content {
        padding: 0;
        margin: 0;
    }
    #connect_us .modal-dialog {
        margin: 30px auto;
    }
}
/*
@media (max-width: 1100px) {
    body {
        min-width: 1100px;
    }
}*/

@media (min-width: 768px) {
    .btn-drop {
        display: none;
    }
}

/*ANDREY:ADD*/
#mapBlock {
    width: 100%;
    height: 100%;
}
/*ANDREY:UPD #choose-images ->#photos*/
.add_task .content form .more #photos {
    display: none;
}

.location_indicator {
    text-align: center;
    top: 50%;
    position: absolute;
    opacity: 1;
    width: 100%;
    transition: opacity .4s ease;
}

.location_text {
    position: relative;
    top: 40px;
}

.link {
    cursor: pointer;
}

/*Index form add city*/
form#form-add-city .error-message, .common-pages .error-message{
    top: 0px;
}

/*Map marker*/
.pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #89849b;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 1s;
    text-align: initial;
}
.pin:after {
    content: '';
    width: 14px;
    height: 14px;
    margin: 8px 0 0 8px;
    background: #2f2f2f;
    position: absolute;
    border-radius: 50%;
}
.pulse {
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 11px 0px 0px -12px;
    transform: rotateX(55deg);
    z-index: -2;
    text-align: initial;
}
.pulse:after {
    content: "";
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin: -13px 0 0 -13px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    box-shadow: 0 0 1px 2px #89849b;
    animation-delay: 1.1s;
}
@-moz-keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}
@-webkit-keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}
@-o-keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}
@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}
@-moz-keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
        opacity: 1;
        transform: translateY(30px) rotate(-45deg);
    }
    80% {
        transform: translateY(-10px) rotate(-45deg);
    }
    100% {
        transform: translateY(0) rotate(-45deg);
    }
}
@-webkit-keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
        opacity: 1;
        transform: translateY(30px) rotate(-45deg);
    }
    80% {
        transform: translateY(-10px) rotate(-45deg);
    }
    100% {
        transform: translateY(0) rotate(-45deg);
    }
}
@-o-keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
        opacity: 1;
        transform: translateY(30px) rotate(-45deg);
    }
    80% {
        transform: translateY(-10px) rotate(-45deg);
    }
    100% {
        transform: translateY(0) rotate(-45deg);
    }
}
@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
        opacity: 1;
        transform: translateY(30px) rotate(-45deg);
    }
    80% {
        transform: translateY(-10px) rotate(-45deg);
    }
    100% {
        transform: translateY(0) rotate(-45deg);
    }
}

.social-likes {
    width: 100%;
    height: 30px;
    min-height: 100%;
    margin: 10px 0 0;
    text-align: center;
}

.social-likes__widget {
    display: block;
    float: left;
    width: 104px;
    height: 100%;
    margin: 0 5px;
    vertical-align: top !important;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #cdced0 !important;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-align: left;
}
.social-likes__widget:hover {
    background: #5a8fed !important;
}

.social-likes__button, .social-likes__counter {
    position: relative;
    display: inline-block !important;
    width: 50%;
    height: 100%;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.social-likes__button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-family: "social";
    font-size: 18px;
    line-height: 30px;
    color: #fff !important;
}

.social-likes__button_facebook:after {
    content: "\e900"
}
.social-likes__button_twitter:after {
    content: "\e905"
}
.social-likes__button_vkontakte:after {
    content: "\e906"
}
.social-likes__button:before {
    content: none;
}

.social-likes__icon {
    display: none !important;
}
.social-likes__counter {
    border: 0 !important;
}
.social-likes__counter:before {
    border: 0 !important;
    content: none;
}

.social-likes__counter {
    line-height: 30px;
    color: #fff !important;
    font-size: 12px;
    font-family: "OpenSans-Regular";
}

.request-cop form .error-message{
    top: 0px;
}

.connect_us__toggle{
    cursor: pointer;
}

.text-additional-info{
     font-size: 11px;
     font-style: italic;
}

.beta-version {
    width: 120px;
    height: 50px;
    position: absolute;
    top: 80px;
    left: 19px;
    background: url(../images/svg/beta_01.svg) no-repeat;
}

.disable .content {
    color : #999 !important;
    background-color: #d4d4d4 !important;
}

/*Mobile*/
.wrap-mob-notice {
    max-width: 320px;
    margin: 0 auto; }

.notice_content {
    padding: 50px 10px; }
.notice_content .notice-text,
.notice_content .notice-link {
    text-align: center;
    font-size: 16px;
    padding: 0 20px 10px; }
.notice_content .notice-text {
    font-family: 'OpenSans-Bold'; }
.notice_content .notice-link {
    font-family: 'OpenSans-Regular';
    color: #106ed6;
    display: block; }
.notice_content .notice-link:hover {
    text-decoration: none;
    color: #106ed6; }

.notice-title {
    display: inline-block;
    font-family: 'ProximaNova-Bold';
    font-size: 16px;
    line-height: 16px;
    padding-left: 15px;
    width: 200px;
    letter-spacing: 0.05em;
    color: #222e63;
    border-left: 3px solid #ffe741;
    position: relative;
    margin-left: 90px; }
.notice-title:hover, .notice-title:focus {
    text-decoration: none;
    color: #222e63; }
.notice-title:before {
    content: '';
    position: absolute;
    left: -80px;
    top: -15px;
    display: block;
    width: 60px;
    height: 60px;
    background: url(../images/logo-scrn.png) center no-repeat;
    background-size: 60px 60px; }

.notice-image {
    margin: 40px auto;
    display: block; }