<div class="notice_content">
    <a class="notice-title" href="#">Взаємодія поліції та громади</a>
    <img alt="" class="notice-image" src="../../assets/img/mobile/desktop-smile.png" />
    <p class="notice-text">
        Друже, мобільна версія сервісу в процесі розробки.
    </p>
    <a class="notice-link" href="#">Просимо скористатись версією для ПК.</a>
</div>
